  <body>

        <div id="page-wrappers">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Manage Users</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Notification Email
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                             <?php echo $this->Form->create('User'); ?>
           <form role="form">                     
                <table  id="dataTables-example"> 
                  <div class="form-group has-successs">
                           <tr><td><label class="control-label" for="inputSuccess">Competitors</label></td>
                         <td><input type="radio" name="data[type]" value="competitor"></td>  
                  
                       <td><label class="control-label" for="inputSuccess">Braiders</label></td>
                       <td><input type="radio" name="data[type]" value="braider"></td>
                 
                    <td><label class="control-label" for="inputSuccess">All Users</label></td>
                     <td><input type="radio" name="data[type]" value="admin"></td>
                  
                 <td><label class="control-label" for="inputSuccess">Notification Text</label></td>
                   <td><textarea rows="4" cols="50" name="textarea"></textarea></td></tr>

                    </div>
                   
                    </table>
                        <?php   echo $this->Form->submit('Send Notification',array('class' => 'btn btn-primary'));  ?>
              </form>
                            </div>
                           
                        </div>
                       
                    </div>
          
        </div>
</body>
<script>

$('input[type="radio"]').on('change', function() {
   $('input[type="radio"]').not(this).prop('checked', false);
});
</script>
</html>

