<div id="wrapper" class="main-error-page">
        <div class="container">

            <!-- brick of wall -->
            <div class="brick"></div>
            <!-- end brick of wall -->

            <!-- Number -->
            <div class="number">
                <div class="four"></div>
                <div class="zero">
                    <div class="nail"></div>
                </div>
                <div class="four"></div>
            </div>
            <!-- end Number -->

            <!-- Info -->
            <div class="info">
                <h2>Something is wrong!!!</h2>
                <p>The page you are looking for was moved, removed, renamed or might never existed.</p>
                <a class="btn" ui-sref="login">Go Home</a>
            </div>
            <!-- end Info -->


        </div>
        <!-- end container -->
    </div>
    <div id="footer" class="error-footer">
        <div class="container">
            <!-- Worker -->
            <div class="worker"></div>
            <!-- Tools -->
            <div class="tools"></div>
        </div>
        <!-- end container -->
    </div>