<section id="inner-signup" class="wrap">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">
	<div class="container">
	<div class="back-btn"><a ui-sref="my-services" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="show-up-form my-services add-service">
					<h1>Add Services<span><img src="dist/img/add-show-line.png"></span></h1>
					<form name="AddService" ng-submit="addNewService(AddService.$valid)" class="show-add" novalidate>
					<div ng-show="error" class="alert text-danger">
						<strong ng-bind="error"></strong>
					</div>	
					<input name="access_token" type="hidden" ng-model="service.access_token" id="access_token" class="form-control">
					 <input name="id" type="hidden" ng-model="service.braider_id" id="access_token" class="form-control">
						<div class="inn-form">
 						<input type="text" placeholder="Name" id="inputPassword" class="form-control" name="name" ng-model="service.name" required>	
 						<span class="text-danger inner-error " ng-show="AddService.name.$invalid && !AddService.name.$pristine">Name is required.</span>
						</div>
						<!-- <span ng-show="(AddService.name.$error.pattern)" class="form-error">Please use characters only.</span> -->
						<div class="inn-form inn-text">
 						<textarea id="textArea" rows="3" class="form-control" placeholder="Description" name="description" ng-model="service.description"></textarea>		
						</div>
						
						<div class="inn-form sakela">
 						<input type="text" placeholder="Price" id="inputPassword" class="form-control" name="price" ng-model="service.price" ng-pattern="/^[0-9. ]*$/" required>	
						</div>
						<span ng-show="(AddService.price.$error.pattern)" class="form-error">Please use numeric only.</span>
						<span class="text-danger inner-error " ng-show="AddService.price.$invalid && !AddService.price.$pristine">Price is required.</span>

						<!-- <div class="service-more"><a href="#">Add More</a></div> -->

						<div class="sign-btn showed service-save"><button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : AddService.$invalid }" ng-disabled="AddService.$invalid">Save<div class="ripple-wrapper"></div></button></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	 <div class="text-center">	
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>