<section id="inner-signup" class="wrap">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="show-up-form">
					<h1>Add Show<span><img src="dist/img/add-show-line.png"></span></h1>
					<form class="show-add" name="addShow" ng-submit="braideraddshow(addShow.$valid)">	
 						
                   <div class="inn-form" ng-init="getState()">
			            <select class="form-control add" ng-model="allstate"  ng-init="allstate=''" ng-change="setState(allstate)">
			              <option value="" disabled>Choose State</option>
			              <option ng-repeat="state in allStates" value="{{state.id}}" >{{state.name}}</option>
			            </select>
			            <span ng-show="noStateShow" class="form-error">{{noStateShow}}</span>
      				</div>  
						<div class="inn-form">
 						<select class="form-control add" ng-model="allmonth" ng-init="allmonth=''" ng-change="setMonth(allmonth)" ng-disabled="monthfalse == false">
			              <option value="" disabled>Choose Month</option>
			              <option ng-repeat="month in months"  value="{{month.id}}">{{month.name}}</option>
			            </select>
			            <span ng-show="noshow" class="form-error">{{noshow}}</span>		
						</div>

 						<div class="inn-form" ng-hide="monthshowList">
 
						 
  						<br>
 
				          <div ng-init="showListing()">
				            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)"  ng-disabled="!monthshowList" required>
				              <option value="" disabled>Choose Show</option>
				              <option ng-repeat="shows in showList" value="{{shows.id}}">{{shows.showName}}</option>
				            </select>
				            </div>
				          </div>
				          <div class="inn-form" ng-show="monthshowList">
				            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows)" ng-disabled="!monthshowList" required>
				              <option value="" disabled>Choose Show</option>
				              <option ng-repeat="shows in monthshowList" value="{{shows.id}}">{{shows.showName}}</option>
				            </select>
				          </div>

				          <div class="main-choose-date" ng-if="allShowsDate">
				          <div class="inn-form choose_date">
							<label class="available">Choose Date</label>
				          </div>

				          <div class="date_report">

					       	<div class="inn-form main-all-date" style="float:right">
					          <div ng-repeat="date in allShowsDate" class="main-closed-check">
							  	<div class="action-checkbox">
							   	<input id="{{date}}" type="checkbox" value="{{date}}" ng-model="dateArray"  ng-click="datetoggleSelection($event, date)" />
							   	<label for="{{date}}"></label>
							   	{{date}}
							  	</div>
							  </div>
							</div>
						  </div>

						</div>
 
						<div class="sign-btn showed">
						<button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : show-add.$invalid }" ng-disabled="show-add.$invalid || !dateArray">ADD SHOW<div class="ripple-wrapper"></div>
						</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="text-center">	
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>
