<section class="full_reserv res_bx">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="sign-up-form">
	 					<h1>Add Horse<span><img src="dist/img/sign-up-line.png"></span></h1>
	 					<form name="CompetitorHorse" ng-submit="addHorse(CompetitorHorse.$valid)" novalidate>
	 						<input name="access_token" type="hidden" ng-model="horse.access_token" id="access_token" class="form-control">
	 						<div ng-show="error" class="alert text-danger">
								<strong ng-bind="error"></strong>
							</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Name" id="inputName" class="form-control add" name="name" ng-model="horse.name" ng-pattern="/^[a-zA-Z ]*$/" required>
	 						</div>
	 						<span ng-show="(CompetitorHorse.name.$error.pattern)" class="form-error">Please use characters only.</span>
	 						<div class="inn-form">
		 						<label>
			                        <input type="radio" name="gender" ng-model="horse.gender" value="Male" required>Male
			                    </label>
			                    <label>
			                        <input type="radio" name="gender" ng-model="horse.gender" value="Female" required>Female
			                    </label>		
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Markings" id="inputEmail" class="form-control add" name="markings" ng-model="horse.markings" ng-pattern="/^[a-zA-Z ]*$/" required>
	 						</div>
	 						<span ng-show="(CompetitorHorse.markings.$error.pattern)" class="form-error">Please use characters only.</span>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Color" id="inputEmail" class="form-control add" name="color" ng-model="horse.color" ng-pattern="/^[a-zA-Z ]*$/" required>
	 						</div>
	 						<span ng-show="(CompetitorHorse.color.$error.pattern)" class="form-error">Please use characters only.</span>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Height" id="inputEmail" class="form-control add" name="height" ng-model="horse.height" ng-pattern="/^[0-9. ]*$/" required >  
	 						</div>
	 						 <span ng-show="(CompetitorHorse.height.$error.pattern)" class="form-error">Please use numeric only.</span>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Quirks" id="inputEmail" class="form-control add" name="quirks" ng-model="horse.quirks" ng-pattern="/^[a-zA-Z ]*$/" required>
	 						</div>
	 						<span ng-show="(CompetitorHorse.quirks.$error.pattern)" class="form-error">Please use characters only.</span>
	 						
	 						<div class="fileinput fileinput-new" data-provides="fileinput">
							  <div class="fileinput-new thumbnail" style="width: 157px; height: 157px;">
							    <img ng-hide="image" data-src="holder.js/100%x100%" alt="" src="dist/img/image-icon.jpg">
							    <img ng-show="image" data-src="holder.js/100%x100%" ng-src="{{fileData1}}" type="{{image.file.type}}"/>
							    <img ng-hide="showImage" data-src="holder.js/100%x100%" class="image-preview ng-hide" id="abc" src="{{fileData1}}" alt="No Image" >
							  </div>
							  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 157px; max-height: 157px;"></div>
							  <div>
						      <span class="btn btn-default btn-file"><span class="fileinput-new">Upload Image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="3d_file" ng-model="horse.image" onchange="angular.element(this).scope().fileUpload()"  accept="image/*" image="image" required></span>
						      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						 	</div>
</div>

                            
	 						<div class="sign-btn"><button class="btn btn-primary" type="submit">Submit<div class="ripple-wrapper"></div></button></div>
	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 </section>