<section class="full_reserv res_bx">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	 	<div class="container" id="divscroll">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="sign-up-form add-horse">
	 					<h1>Add Horse<span><img src="dist/img/sign-up-line.png"></span></h1>
	 					<form name="CompetitorHorse" ng-submit="addHorse(CompetitorHorse.$valid)" novalidate>
	 						<input name="access_token" type="hidden" ng-model="horse.access_token" id="access_token" class="form-control">
	 						<div ng-show="error" class="alert text-danger">
								<strong ng-bind="error"></strong>
							</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Name" id="inputName" class="form-control add" name="name" ng-model="horse.name" required>
	 						
	 						<span class="text-danger inner-error" ng-show="CompetitorHorse.name.$invalid && !CompetitorHorse.name.$pristine">Name is required.</span>
	 						</div>
	 						<div class="inn-form radio-spcl">
		 						<label>
			                        <input type="radio" name="gender" ng-model="horse.gender" value="Stallion" ><span class="inner-male">Stallion</span>
			                    </label>
			                    <label>
			                        <input type="radio" name="gender" ng-model="horse.gender" value="Gelding" ><span class="inner-male">Gelding</span>
			                    </label>
			                    <label>
			                        <input type="radio" name="gender" ng-model="horse.gender" value="Mare" ><span class="inner-male">Mare</span>
			                    </label>		
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Markings" id="inputEmail" class="form-control add" name="markings" ng-model="horse.markings" required>
	 							<span class="message-notify" style="text-align:left;font-size:14px;">(For a horse with no markings, please enter 'None'.)</span>
	 							<span class="text-danger inner-error" ng-show="CompetitorHorse.markings.$invalid && !CompetitorHorse.markings.$pristine">Marking is required.</span>
	 							
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Color" id="inputEmail" class="form-control add" name="color" ng-model="horse.color"  required>
	 							<!-- <span ng-show="(CompetitorHorse.color.$error.pattern)" class="form-error">Please use characters only.</span> -->
	 							<span class="text-danger inner-error" ng-show="CompetitorHorse.color.$invalid && !CompetitorHorse.color.$pristine">Color is required.</span>
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Height" id="inputEmail" class="form-control add" name="height" ng-model="horse.height" required >  
	 						 	<!-- <span ng-show="(CompetitorHorse.height.$error.pattern)" class="form-error">Please use numeric only.</span> -->
	 						 	<span class="text-danger inner-error" ng-show="CompetitorHorse.height.$invalid && !CompetitorHorse.height.$pristine">Height is required.</span>

	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Quirks" id="inputEmail" class="form-control add" name="quirks" ng-model="horse.quirks">
	 							<span class="message-notify" style="text-align:left;font-size:14px;">(Add any information you would like the Braider to know for braiding your horse.)</span>
	 						</div>

	 						
	 						<div class="fileinput fileinput-new horse-portfolio" data-provides="fileinput">
							  <div class="fileinput-new thumbnail" style="width: 157px; height: 157px;">
							    <img ng-hide="image" data-src="holder.js/100%x100%" alt="" src="dist/img/image-icon.jpg">
							    <img ng-show="image" data-src="holder.js/100%x100%" ng-src="{{fileData1}}" type="{{image.file.type}}"/>
							    <img ng-hide="showImage" data-src="holder.js/100%x100%" class="image-preview ng-hide" id="abc" ng-src="{{fileData1}}" alt="No Image"  >
							  </div>
							  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 157px; max-height: 157px;"></div>
							  <div>
						      <span class="btn btn-default btn-file"><span class="fileinput-new">Upload Image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="3d_file" ng-model="horse.image" onchange="angular.element(this).scope().fileUpload()"  accept="image/*" image="image"></span>
						      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						 	</div>

                        </div>
                         <span class="show-error two-large" ng-if="size > 2000000" class="err">Sorry, but that image is too large to upload. Please only upload images 2mb or smaller.</span>
                         <img src="dist/img/loading.gif" ng-show="loader == true">
						<div class="sign-btn"><button class="btn btn-primary" ng-class="{ 'disabled' : CompetitorHorse.$invalid }" ng-disabled="CompetitorHorse.$invalid" type="submit">Submit<div class="ripple-wrapper"></div></button></div>
	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 </div>
	 <div class="text-center">	
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
	 </section>