<section id="inner-signup" class="wrap">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
 	<div class="container">
 		<div class="back-btn"><a ui-sref="myreservation" ng-click="" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
 		<div class="row">
 			<div class="col-md-12 col-xs-12">
 				<div class="sign-up-form braid-profile">
 					<h1>Braider Profile<span><img ng-src="dist/img/sign-up-line.png"></span></h1>
 					<form name="BraidProfile" novalidate>	
 						<div class="inn-form">
 							<img class="account-user" src="dist/img/account-user.png" alt="user">
 							<input type="name" placeholder="Name"  id="inputName" class="form-control password" name="name" ng-model="braiderSingle.User.name" readonly disabled>
 						</div>
 						
 					</form>
 					
 				</div>

 				<section id="main-horse-pic">
 					<h1>Work Pictures</h1>
 					<div class="hosre-pic">
					  <div ng-show="braiderSingle.BraiderWorkpicture == ''">No images yet!!</div>
				    <ul>
					  <li ng-repeat="pics in braiderSingle.BraiderWorkpicture">
					  	<img ng-src="{{callApi}}{{pics.image}}" alt="work-pics">
					  	<div class="desc-2"> 
						   <p>{{pics.image_caption}}</p>
						 </div>
					  </li>
					</ul>
				  </div> 
				</section>


 			</div>
 		</div>
 	</div>
 	</div>
	<div class="text-center">	
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>

