
<div class="calender_full">
<div role="main" >
    <div class="container">
    <div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a>
    </div>
        <section id="directives-calendar" >
                <div class="row">
                    <div class="col-md-12">
                            <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                    </div>
                    <div class="col-md-12 calender-footer">
                    	
                        <a href="">[ <i class="fa fa-circle"></i> ]</a> Reservation Scheduled. 
                        <a href="">[ <i class="fa fa-envelope-o"> ]</i></a> Unread Message.
                    </div>
                </div>
        </section>
    </div>
</div>
</div>