<section class="full_reserv choose-braider">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	<div class="container">
     	<div class="back-btn"><button ng-click="backDate()" class="profile-btn choose-back"><i class="fa fa-arrow-circle-left"></i></button></div>
		<div class="row">
 			<div class="col-md-12 col-xs-12">
 			    <h2>Choose A Braider</h1> 
				</div>
 		</div>
		<div class="clearfix"></div>
		<div class="row">
		   <div class="col-md-12">
		       
			   <ul class="braider-pro">
			    <li ng-repeat="braider in braiderAvailable">
			    <input type="hidden" value="braider.BraiderAvialablity_id">
				  <h3>{{braider.name}}</h3>
				<div class="all-dates">
				  <div ng-repeat="services in braider.services">
				  	<p><span class="service-name">{{services.name}}:</span> <span class="service-description">{{services.description}}</span> <span class="service-price">${{services.price}}</span></p>
				  </div>
				</div>
				  <div class="hosre-pic">
				    <ul>
					  <li ng-repeat="pics in braider.workpicture">
					  	<img ng-src="{{pics}}" alt="work-pics">
					  </li>
					</ul>
				  </div>					  
				  <div class="profile-select">
				    <a href="#/braid-profile" ng-click="showProfile(braider.id)" class="profile-btn">Profile</a>
					<a href="#/select-service" ng-click="setBraider(braider.id, braider.BraiderAvialablity_id)" class="Select-btn">Select</a>
				  </div>					  
				</li>
			   </ul>
			   
			   
				 
				 <div class="clearfix"></div>
				 
				 
				 
		   </div>
		</div>
		
    </div>
 </div>
	<div class="text-center">	
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>