<section class="full_reserv res_bx">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
  <div class="container">
    <div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
    <h1>Choose Show & Date <br/>
      <span><img src="dist/img/sign-up-line.png"></span></h1>
    <div class="res_form">
      <div class="row">
      <form name="chooseDate">
        <div class="col-md-6 col-lg-offset-3">
          <div class="inn-form" ng-init="getState()" ng-hide="backButton.editState">
            <select class="form-control add" ng-model="allstate"  ng-init="allstate=''" ng-change="setState(allstate)" required>
              <option value="" disabled>Choose State</option>
              <option ng-repeat="state in allStates" value="{{state.id}}">{{state.name}}</option>
            </select>
            <span ng-show="noStateShow" class="form-error">{{noStateShow}}</span>
          </div>
          <div class="inn-form" ng-init="getState()" ng-show="backButton.editState">
            <select class="form-control add" ng-model="allstate"  ng-init="allstate=''" ng-change="setState(allstate)" required>
              <option value="" disabled>Choose State</option>
              <option ng-repeat="state in allStates" value="{{state.id}}" ng-selected="backButton.editState == state.id">{{state.name}}</option>
            </select>
            <span ng-show="noStateShow" class="form-error">{{noStateShow}}</span>
          </div>

          <div class="inn-form" ng-hide="backButton.editMonth">
            <select class="form-control add" ng-model="allmonth" ng-init="allmonth=''" ng-change="setMonth(allmonth)" ng-disabled="monthfalse == false" required>
              <option value="" disabled>Choose Month</option>
              <option ng-repeat="month in months" value="{{month.id}}">{{month.name}}</option>
            </select>
            <span ng-show="noshow" class="form-error">{{noshow}}</span>
          </div>
          <div class="inn-form" ng-show="backButton.editMonth">
            <select class="form-control add" ng-model="allmonth" ng-init="allmonth=''" ng-change="setMonth(allmonth)" required>
              <option value="" disabled>Choose Month</option>
              <option ng-repeat="month in months" value="{{month.id}}" ng-selected="backButton.editMonth == month.id">{{month.name}}</option>
            </select>
            <span ng-show="noshow" class="form-error">{{noshow}}</span>
          </div>

          <div ng-hide="backButton.editShow">
          <div class="inn-form" ng-hide="monthshowList">
          <div ng-init="showListing()">
            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)" ng-disabled="!monthshowList" required>
              <option value="" disabled>Choose Show</option>
              <option ng-repeat="shows in showList" value="{{shows.id}}">{{shows.showName}}</option>
            </select>
            </div>
          </div>
          <div class="inn-form" ng-show="monthshowList">
            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)" ng-disabled="!monthshowList" required>
              <option value="" disabled>Choose Show</option>
              <option ng-repeat="shows in monthshowList" value="{{shows.id}}">{{shows.showName}}</option>
            </select>
          </div>
          </div>
          <div ng-show="backButton.editShow">
          <div class="inn-form" ng-hide="monthshowList">
          <div ng-init="showListing()">
            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)" ng-disabled="!monthshowList" required>
              <option value="" disabled>Choose Show</option>
              <option ng-repeat="shows in showList" value="{{shows.id}}" ng-selected="backButton.editShow == shows.id">{{shows.showName}}</option>
            </select>
            </div>
          </div>
          <div class="inn-form" ng-show="monthshowList">
            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)" ng-disabled="!monthshowList" required>
              <option value="" disabled>Choose Show</option>
              <option ng-repeat="shows in monthshowList" value="{{shows.id}}" ng-selected="backButton.editShow == shows.id">{{shows.showName}}</option>
            </select>
          </div>
          </div>

          <div class="inn-form" ng-hide="backButton.editDate">
            <select class="form-control add" ng-model="alldate" ng-init="alldate=''" ng-change="setDate(alldate)" ng-disabled="!nextDate" required>
              <option value="" disabled>Choose Date</option>
              <option ng-repeat="date in nextDate" value="{{date}}">{{date}}</option>
            </select>
            <span ng-show="noBraider" class="form-error">{{noBraider}}</span>
          </div>
          <div class="inn-form" ng-show="backButton.editDate">
            <select class="form-control add" ng-model="alldate" ng-init="alldate=''" name="alldate" ng-change="setDate(alldate)" ng-disabled="!nextDate" required>
              <option value="" disabled>Choose Date</option>
              <option ng-repeat="date in nextDate" value="{{date}}" ng-selected="backButton.editDate == date">{{date}}</option>
            </select>
            <span ng-show="noBraider" class="form-error">{{noBraider}}</span>
          </div>
          
        <a class="btn btn-danger next" href="#/choose-a-braider" ng-click="setDate(alldate)" ng-class="{ 'disabled' : chooseDate.alldate.$invalid }" ng-disabled="chooseDate.alldate.$invalid || !braiderAvailable"  ng-hide="buttonEnable == true">NEXT</a> 
        <a class="btn btn-danger next" href="#/choose-a-braider" ng-click="setDate(backButton.editDate)" ng-show="buttonEnable == true">NEXT</a> 
       </div>
        </div>
        
        
        </form>
    
    
      </div>
    </div>
  </div>
  </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center"> 
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>