<div>
<section class="compititor_reservation">
<div class="container">
	<div class="row">
    <div class="compititor_head">  <h1> My Reservations</h1> <img src="dist/img/line_blue.png" /> </div>
    	<table  class="table table-bordered table-hover ">
          
          <thead class="compititor_heading">
            <tr>
              <th class="icon_table"> </th>
              <th class="Horse">Reservation Number</th>
              <th class="Horse">Date</th>
              <th class="Horse">Service</th>
              <th class="Horse">Horse</th>
              <th class="Horse">Status</th>
              
            </tr>
          </thead>
          <tbody class="ur_data">
            <tr>
              <td></td>
              <td>2575</td>
              <td>Freiberger</td>
              <td>Braid Tail</td>
              <td>Nov. 17, 4:00 PM</td>
              <td>Pending</td>
              
            </tr>
            <tr >
              <td><img src="dist/img/paid_icon.png" /></td>
              <td>2575</td>
              <td>Freiberger</td>
              <td>Braid Tail</td>
              <td>Nov. 17, 4:00 PM</td>
              <td>Pending</td>
              
            </tr>
            <tr>
              <td></td>
              <td>2575</td>
              <td>Freiberger</td>
              <td>Braid Tail</td>
              <td>Nov. 17, 4:00 PM</td>
              <td>Pending</td>
              
            </tr>
            <tr>
              <td><img src="dist/img/paid_icon.png" /></td>
              <td>2575</td>
              <td>Freiberger</td>
              <td>Braid Tail</td>
              <td>Nov. 17, 4:00 PM</td>
              <td>Pending</td>
              
            </tr>
            <tr>
               <td></td>
               <td>2575</td>
              <td>Freiberger</td>
              <td>Braid Tail</td>
              <td>Nov. 17, 4:00 PM</td>
              <td>Pending</td>
              
            </tr>
            
            <tr>
              <td><img src="dist/img/paid_icon.png" /></td>
              <td>2575</td>
              <td>Freiberger</td>
              <td>Braid Tail</td>
              <td>Nov. 17, 4:00 PM</td>
              <td>Pending</td>
              
            </tr>
            
          </tbody>
          
        </table>
        <div class="footeer_text"><a href="">[<i class="fa fa-envelope-o"></i>]</a> Unread Message</div>
    </div>
</div>


</div>
</section>




<section id="reservation_detail_table">
    <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive reservatoin_table table_layot">
        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover ">
          
          <thead class="reservation_heading">
            <tr>
              <th class="to_from_reservation">To / From <i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></th>
              <th class="date_reservation">Date</th>
              <th class="msg_reservation">Message</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John > David</td>
              <td>Nov. 17, 2015</td>
              <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</td>
              
            </tr>
            <tr class="pop_up_msg" data-toggle="modal" data-target="#myModal">
              <td class="unread">David > John</td>
              <td class="unread">Nov. 17, 2015</td>
              <td class="unread ">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</td>
              
            </tr>
            <tr>
              <td>John > David</td>
              <td>Nov. 17, 2015</td>
              <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</td>
              
            </tr>
            <tr>
              <td>John > David</td>
              <td>Nov. 17, 2015</td>
              <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</td>
              
            </tr>
            <tr>
              <td>John > David</td>
              <td>Nov. 17, 2015</td>
              <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</td>
              
            </tr>
            
            <tr class="pop_up_msg" data-toggle="modal" data-target="#myModal">
              <td class="unread">David > John</td>
              <td class="unread">Nov. 17, 2015</td>
              <td class="unread ">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</td>
              
            </tr>
            
          </tbody>
          
        </table>

        <!-- Modal -->
       
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="overlay">
  <div class="modal-dialog reservation_model" role="document">
    <div class="modal-content  contant_reser">
      <div class="modal-header reserv_header">
        <button type="button" class="close close_popup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i>
</span></button>
        <h4 class="modal-title reser_heading_1" id="myModalLabel">Read Message</h4>
      </div>
      <div class="modal-body">
       	<div class="model_contant">
        	<table class="heading_contant">
            	<tr>
                	<td class="left_contant"><h3>Date</h3></td>
                    <td><p>Nov. 17, 2015<span><i class="fa fa-clock-o clock"></i>4:38 pm</span></p></td>
                </tr>
                <tr>
                	<td class="left_contant"><h3>From</h3></td>
                    <td><p>John</p></td>
                </tr>
                <tr>
                	<td class="left_contant"><h3>To</h3></td>
                    <td><p>David</p></td>
                </tr>
                <tr>
                	<td class="left_contant"><h3>Full Message</h3></td>
                    <td><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.</p></td>
                </tr>
            </table>
        
        
        	
            
        </div>
        <div class="modal-footer footer_popup">
       
        <button type="button" class="btn btn-primary reply_button">reply</button>
      </div>
      </div>
      
    </div>
  </div>
</div>

      </div></div><!--end of .table-responsive-->
      
      
      
      
    </div>
  </div>
</div>


    
    </section>