<div ng-if="userRole == 'competitor'">

<section class="full_bann" >
	  <div class="container">
	     <div class="row">
		    <div class="col-md-12 col-xs-12">
			    <h2>Welcome <b>{{currentUser.User.name}}</b></h2>


			    <div class="all-profiles">
					<ul>
						<a href="#/my-profile" ng-click="isCollapsed = !isCollapsed"><li><img src="dist/img/user-profile.png"><span>My Profile</span></li></a>
						<a href="#/choose-date" ng-click="isCollapsed = !isCollapsed"><li><img src="dist/img/service-img.png"><span>Schedule a Braider</span></li></a>
						<a  href="#/myreservation" ng-click="isCollapsed = !isCollapsed"><li><img src="dist/img/portfolio-img.png"><span>My Reservations</span></li></a>
						<a href="#/myhorses" ng-click="isCollapsed = !isCollapsed"><li><img src="dist/img/horse-shedule-img.png"><span>My Horses</span></li></a>
					</ul>
				</div>
			</div>
		 </div>
	  </div>
	  <div ng-show="$root.cancel" class="alert bg-success">
			<strong ng-bind="cancel"></strong>
		</div>	 
	</section>
	<section class="full_reserv">
	  <div class="container">
	     	<!-- <span ng-show="cancel" class="alert bg-success">{{cancel}}</span> -->
	     	<div ng-show="$root.updateP" class="alert bg-success">
				<strong ng-bind="$root.updateP"></strong>
			</div>
			
	  </div>
	</section>

	 <!-- <section id="inner-signup"> -->
	 	<div ng-show="$root.message" class="alert bg-success">
			<strong ng-bind="message"></strong>
		</div>
		<div ng-show="$root.accountCreated" class="alert bg-success">
			<strong ng-bind="accountCreated"></strong>
		</div>
		
	 	
</div>

<div ng-if="userRole == 'braider'">
	<section class="wrapper_row data_col">
	  		
	 	<section id="dashboard-bg">
	 		<div class="container">
	 			<div class="row">
	 			   	  <div class="col-md-12">
		 				<h1>Welcome <span>{{currentUser.User.name}}</span></h1>
						<div class="all-profiles">
							<ul>
								<a href="#/my-profile"><li><img src="dist/img/user-profile.png"><span>My Profile</span></li></a>
								<a href="#/my-services"><li><img src="dist/img/service-img.png"><span>My Services</span></li></a>
								<a ui-sref="braider-portfolio"><li><img src="dist/img/portfolio-img.png"><span>My Portfolio</span></li></a>
								<a href="#/show-schedule"><li><img src="dist/img/show-shedule-img.png"><span>My Show<br> Schedule</span></li></a>
							</ul>
						</div>
					</div>
	 			</div>
	 		</div>
	 	</section>

	 	<section class="sch_reservation" ng-init="braiderReservation()">
	  <div class="container">
	     	<div ng-show="$root.message" class="alert bg-success">
				<strong ng-bind="$root.message"></strong>
			</div>
			<div ng-show="$root.accountCreated" class="alert bg-success">
				<strong ng-bind="accountCreated"></strong>
			</div>
		<div ng-show="$root.updateP" class="alert bg-success">
				<strong ng-bind="$root.updateP"></strong>
			</div>
			</div><div ng-show="$root.acceptReject" class="alert bg-success">
				<strong ng-bind="acceptReject"></strong>
			</div>

<div class="container">
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="heding_sch">
	 					<a href="#/calendar" class="btn btn-primary reservation_ssch">Scheduled Reservations</a>
 <!-- <h2>Scheduled Reservations</h2>  -->
	 				</div>
	 			   
				</div>
	 		</div>
       </div>     
            
            
			<div class="clearfix"></div>
          <!--   
            <div class="container">
			<div class="row">
			   <div class="col-md-12">
			       
					 <table class="table table_res dash_table">
					 	<tr>
					        <th>Date</th>
					        <th>Service</th>
					        <th>Status</th>
					        <th>Action</th>
					    </tr>
					    <tr ng-repeat="reservation in reservations | limitTo:paginationLimit()">
					    	<td>{{reservation.date}}</td>
					    	<td><p ng-repeat="services in reservation.services">{{services.name}}</p></td>
					    	<td class="status">{{reservation.status}}</td>
					    	<td><a class="btn btn-primary" href="#/reservation-detail" ng-click="braiderSingleReservation(reservation)">Details</a></td>
					    </tr>
					 </table>
					 
					 <p ng-if="length=='0'">No Scheduled Reservations Yet!</p>
					 <!-- <a href="myreservation.html" class="btn btn-danger">View More</a> -->
					 <!--  <button class="btn btn-danger reserve-more view_more" ng-if="length>'3'" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">View More</button>
					 
			   </div>
			</div>
			</div> -->
	  </div>
	</section>


</div>
