


<section id="sant-reserved">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
		<div class="container">
		<div class="back-btn"><a ui-sref="myreservation" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
			<div class="row">
				<div class="col-md-12">
				<h2>Reservation#&nbsp;{{res1}}</h2>
					<a ui-sref="braider_profile" ng-click="showProfile(Singlereservation[0].braider_id)"><h1 ng-repeat="services in Singlereservation[0].services | limitTo:1">{{services.braidername}}</h1></a>
					<h2>{{Singlereservation[0].horsename}} <span>@ {{Singlereservation[0].showname}}</span></h2>
                    
						<h3>{{Singlereservation[0].date}}<span>{{Singlereservation[0].statename}}, {{Singlereservation[0].showdivisions}}</span></h3>
						<div ng-repeat="services in Singlereservation[0].services">
			  				<p class="number_reser"><span >{{services.name}}:</span> <span >{{services.description}}-</span> <span>${{services.price}}</span></p>
				  		</div>
                        
                        
                        <div class="table_edit">
                        
                        <div class="table_section">
				  		<p ><span>Barn Name:</span>
                        <div  class="barn_no" ng-hide="edit[Singlereservation]">{{Singlereservation[0].barnName}} </div><div ng-show="edit[Singlereservation]"><input type="text" ng-model="Singlereservation[0].barnName" name="barname" required/></div></p>
                        </div>
                        
                        <div class="table_section">
                           <a data-target="#" data-toggle="tooltip" data-placement="top" title="Edit!"> 
                 <button ng-hide="edit[Singlereservation]" ng-click="editstall(Singlereservation)" class="edit_button" >
                   <i class="fa fa-pencil"></i></button></a>
				  		<p ><span>Barn Number:</span><div class="barn_no" ng-hide="edit[Singlereservation]">{{Singlereservation[0].barnNumber}} </div><div ng-show="edit[Singlereservation]"><input type="text" ng-model="Singlereservation[0].barnNumber" name="barnumber" required/></div></p>
                        </div>
                        
                        
                        <div class="table_section">
				  		<p ><span>Stall Number:</span><div class="barn_no" ng-hide="edit[Singlereservation]">{{Singlereservation[0].stallNumber}}</div><div ng-show="edit[Singlereservation]"><input type="text" ng-model="Singlereservation[0].stallNumber" name="stallnumber" required/></div></p>
                        </div>
                        <div class="update_button_sec">
                  <button ng-show="edit[Singlereservation]" class="update" ng-click="updateReservation()">Update</button>   </div>     
                        
                        </div>
						<h4 class="price"><span>Total Price:</span>${{Singlereservation[0].total_price}}</h4>
						<div class="reservation-btns">
							<button type="button" class="btn btn-primary" ng-click="cancelReservation(Singlereservation[0],1)" ng-disabled="Singlereservation[0].status == 'Declined'">Cancel Reservation</button>
							<button data-toggle="modal" data-target="#message-btn" type="button" class="btn btn-primary">Message Braider</button>
							<div ng-show="$root.message" class="alert bg-success">
								<strong ng-bind="$root.message"></strong>
							</div>
							<!-- Modal start here-->
							<div class="modal fade" id="message-btn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                         
							  <div class="modal-dialog" role="document">
                              	
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close.png"></button>
							      </div>
							      <div class="modal-body">
							        <textarea class="form-control" ng-model="txt"></textarea>
							        <button data-dismiss="modal" type="button" class="btn btn-primary" ng-click="messageToBraider(Singlereservation[0].reservation_id, Singlereservation[0].braider_id)">Send</button>
							      </div>
							    </div>
							 
							</div>
                            </div>
							<!-- Modal close here-->
						</div>	
				</div>
			</div>
		</div>	
	</section>

	<section id="horse-detail">
		<div class="container">
			<div class="row">
	 			<div class="col-md-12">
	 				<div class="inner-horse-detail">
	 					<img ng-src="{{Singlereservation[0].horseimage}}" alt="new horse">
	 					<h1>{{Singlereservation[0].horsename}}<span>{{Singlereservation[0].statename}}</span></h1>
	 					<table>
	 						<tr>
		 						<td align="left">Marking:</td>
		 						<td>{{Singlereservation[0].horsemarkings}}</td>
	 						</tr>
	 						<tr>
		 						<td align="left">Color:</td>
		 						<td>{{Singlereservation[0].horsecolor}}</td>
	 						</tr>
	 						<tr>
		 						<td align="left">Height:</td>
		 						<td>{{Singlereservation[0].horseheight}}m</td>
	 						</tr>
	 						<tr>
	 							<td align="left">Gender:</td>
	 							<td>{{Singlereservation[0].horsegender}}</td>
	 						</tr>
	 						<tr>
	 							<td align="left">Quirks:</td>
	 							<td>{{Singlereservation[0].horsequirks}}</td>
	 						</tr>
	 					</table>
	 				</div>
	 			</div>
			</div>
		</div>
		</div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
 <!-- this is the messages part -->

	</section>
    <div>
<section id="reservation_detail_table">
    <div class="container">
  <div class="row">
    <div class="col-xs-12">
    <table class="table table-bordered table-hover detail_reser_table table table_res">
          <thead>
            <tr class="detail_reser">
              <th class="to_from_reservation">From / To <i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></th>
              <th class="date_reservation">Date</th>
              <th class="msg_reservation">Messages</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor:pointer;" data-target="#primary" data-toggle="modal" ng-click="single(msg,reservationId)" ng-repeat="msg in Allmessage | orderBy:'-msgid':true" class="">
              <td ng-class="msg.mark_as_read ? 'unread':'' ">{{msg.from_user}}>{{msg.to_user}}</td>
              <td ng-class="msg.mark_as_read ? 'unread':'' ">{{msg.date |  date:'MMM,dd,yyyy'}}</td>
              <td class="mm" ng-class="msg.mark_as_read ? 'unread':'' ">{{msg.msg}}</td>
            </tr>
          </tbody>
    </table>
    <center><p ng-hide="Allmessage"> No Message To Display</p></center>
    </div>
    </div>
    </div>
    </section>


    <!-- Modal -->
    <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="overlay">
        <div class="modal-dialog  reservation_model">
            <div class="modal-content">
                <div class="modal-header modal-header-primary reserv_header">
                <button class="close close_popup" data-dismiss="modal" type="button"><i class="fa fa-times close_icon"></i>
				</button>
                    <h3>Message</h3>
                </div>
                <div class="modal-body">
                <div class="model_contant">
                <table class="heading_contant">

                <tr><td class="left_contant"><h3>Date</h3></td>
                <td><p><!-- <span><i class="fa fa-clock-o clock"></i>4:38 pm</span> -->&nbsp;{{pop_msg.date |  date:'MMM.dd, yyyy'}}</p></td>
                </tr>
                <tr>
               <td class="left_contant"><h3>To</h3></td>
               <td><p>&nbsp;{{pop_msg.to_user}}</p></td>
               </tr>
               
               <tr>
               <td class="left_contant"><h3>From</h3></td>
               <td><p>&nbsp;{{pop_msg.from_user}}</p></td>
               
               
               </tr>
               <tr>
                <td class="left_contant"><h3>Full Message</h3></td>
                <td><p>&nbsp;{{pop_msg.msg}}</p></td>
                </tr>
                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-toggle="modal" data-target="#message-btn" class="btn btn-default reply_button" data-dismiss="modal">Reply</button>
</div>
    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
    </div>
</div>

  
<script>
$(document).ready(function(){
    $('[data-toggle=tooltip]').hover(function(){
        // on mouseenter
        $(this).tooltip('show');3482546470
    }, function(){
        // on mouseleave
        $(this).tooltip('hide');
    });
});


</script>

