<section id="sant-reserved">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
		<div class="container">
		<div class="back-btn"><a ui-sref="myreservation" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
			<div class="row">
				<div class="col-md-12">
					
					<h1>{{currentUser.User.name}}</h1>
					<table class="braider-table">
						<tr>
	 						<td align="left">Show Name:</td>
	 						<td>{{Singlereservation[0].showname}}</td>
 						</tr>
 						<tr>
	 						<td align="left">Show Date:</td>
	 						<td>{{Singlereservation[0].date}}</td>
 						</tr>
 						<tr>
	 						<td align="left">Show State:</td>
	 						<td>{{Singlereservation[0].statename}}</td>
 						</tr>
 						<tr>
	 						<td align="left">Show Division:</td>
	 						<td>{{Singlereservation[0].showdivisions}}</td>
 						</tr>
 						<tr>
	 						<td align="left">Service:</td>
	 						<td><p ng-repeat="services in Singlereservation[0].services"><span >{{services.name}}:</span> <span >{{services.description}}-</span> <span>${{services.price}}</span></p></td>
 						</tr>
 						<tr>
	 						<td align="left">Total Price:</td>
	 						<td>${{Singlereservation[0].total_price}}</td>
 						</tr>
 						<tr>
	 						<td align="left">Barn Name:</td>
	 						<td><input type="text" ng-model="Singlereservation[0].barnName" class="form-control add"></td>
 						</tr>
 						<tr>
	 						<td align="left">Barn Number:</td>
	 						<td><input type="text" ng-model="Singlereservation[0].barnNumber" class="form-control add"></td>
 						</tr>
 						<tr>
	 						<td align="left">Stall Number:</td>
	 						<td><input type="text" ng-model="Singlereservation[0].stallNumber" class="form-control add"></td>
 						</tr>
 						<input type="hidden" ng-model"Singlereservation[0].reservation_id" class="form-control add">
 						<tr>
	 						
 						</tr>
					</table>
                    
                    <div class="cancel_reserv" >
	 							<button type="button" class="btn btn-primary cancel_button" ng-click="cancelReservation(Singlereservation[0])" ng-disabled="Singlereservation[0].status == 'Declined'">Cancel Reservation</button>
	 						
	 						<div class="sign-btn"><button class="btn btn-primary" type="submit" ng-click="updateReservation()">Update<div class="ripple-wrapper"></div></button></div></div>
				</div>
			</div>
		</div>	
	</section>

	<section id="horse-detail">
		<div class="container">
			<div class="row">
	 			<div class="col-md-12">
	 				<div class="inner-horse-detail">
	 					<img ng-src="{{Singlereservation[0].horseimage}}" alt="new horse">
	 					<h1>{{Singlereservation[0].horsename}}<span>{{Singlereservation[0].statename}}</span></h1>
	 					<table>
	 						<tr>
		 						<td align="left">Marking:</td>
		 						<td>{{Singlereservation[0].horsemarkings}}</td>
	 						</tr>
	 						<tr>
		 						<td align="left">Color:</td>
		 						<td>{{Singlereservation[0].horsecolor}}</td>
	 						</tr>
	 						<tr>
		 						<td align="left">Height:</td>
		 						<td>{{Singlereservation[0].horseheight}}m</td>
	 						</tr>
	 						<tr>
	 							<td align="left">Gender:</td>
	 							<td>{{Singlereservation[0].horsegender}}</td>
	 						</tr>
	 						<tr>
	 							<td align="left">Quirks:</td>
	 							<td>{{Singlereservation[0].horsequirks}}</td>
	 						</tr>
	 					</table>
	 				</div>
	 			</div>
			</div>
		</div>
		</div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
	</section>