<section id="inner-signup" class="wrap" >
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="show-up-form">
					<h1>Edit Show<span><img src="dist/img/add-show-line.png"></span></h1>
					<form class="show-add" name="updateSingle" ng-submit="updateShow(updateSingle.$valid)">
					<div ng-show="$root.message" class="alert bg-success">
						<strong ng-bind="message"></strong>
					</div>
 						<div ng-show="error" class="alert text-danger">
							<strong ng-bind="error"></strong>
						</div>
						<input name="id" type="hidden" ng-model="singleShow" class="form-control">	
                   <div class="inn-form" ng-init="getState()">
			            <select class="form-control add" ng-model="singlestate"  ng-change="setState(singlestate)" ng-disabled='true'>
			              <option value="" disabled>Choose State</option>
			              <option ng-repeat="state in allStates"  value="{{state.id}}" ng-selected="state.id == singlestate">{{state.name}}</option>
			            </select>
      				</div>  
						<div class="inn-form">
			           
			            <select class="form-control add" ng-model="singlemonth" ng-change="setMonth(singlemonth)" ng-disabled='true'>
			              <option value="" disabled>Choose Month</option>
			              <option ng-repeat="month in months"   value="{{month.id}}" ng-selected="month.id == singlemonth">{{month.name}}</option>

			            </select>
						</div>

 						<div class="inn-form" ng-hide="monthshowList">
				          <div ng-init="showListing()">
				            <select class="form-control add" ng-model="singleshow" ng-change="setShow(singleshow, shows)" ng-disabled='true'>
				              <option value="" disabled>Choose Show</option>
				              <option ng-repeat="shows in showList" value="{{shows.id}}" ng-selected="shows.id == singleshow">{{shows.showName}}</option>
				            </select>
				            </div>
				          </div>
				          <div class="inn-form" ng-show="monthshowList">
				            <select class="form-control add" ng-model="singleshow" ng-change="setShow(singleshow)" ng-disabled='true'>
				              <option value="" disabled>Choose Show</option>
				              <option ng-repeat="shows in monthshowList" value="{{shows.id}}" ng-selected="shows.id == singleshow">{{shows.showName}}</option>
				            </select>
				          </div>
				          
			            <div>
			         
              			</div> 

				        <div class="main-choose-date">
				        	<div class="inn-form choose_date">
								<label class="available">Choose Date</label>		
							</div>
				        	<div class="date_report">
						    <div class="inn-form main-all-date" style="float:right">
						        <div ng-repeat="date in datesAvailable" class="main-closed-check">
					        <div class="action-checkbox">
							   <input id="{{date}}" type="checkbox" value="{{date}}" ng-model="dateArray" ng-checked="selectDatespreselect(date)" ng-click="datetoggleSelection1($event, date)" />

							   <label for="{{date}}"></label>
							   {{date}}

							  </div>

							 </div>
							</div>

							</div>


						</div>						 
					 
  						<br>
						<div class="sign-btn showed update_sho">
						<button class="btn btn-primary" type="submit">Update SHOW<div class="ripple-wrapper"></div>
						</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		</div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>