<section class="full_reserv res_bx">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="sign-up-form edit-horse">
	 					<h1>Edit Horse<span><img src="dist/img/sign-up-line.png"></span></h1>
	 					<form name="updatehorse" id="updatehorse" ng-submit="updateDetail(updatehorse.$valid)" novalidate>	
	 					<input name="access_token" type="hidden" ng-model="horseSingle.id" id="access_token" class="form-control">
	 						<div ng-show="error" class="alert text-danger">
								<strong ng-bind="error"></strong>
							</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Name" id="inputName" class="form-control add" name="name" ng-model="horseSingle.name"  required>
	 							<!-- <span ng-show="(updatehorse.name.$error.pattern)" class="form-error">Please use characters only.</span> -->
	 							<span class="text-danger inner-error" ng-show="updatehorse.name.$invalid && !updatehorse.name.$pristine">Name is required.</span>
	 						</div>
	 						 <div class="inn-form radio-spcl">
		 						<label>
			                        <input type="radio" name="gender" ng-model="horseSingle.gender" value="Stallion"><span class="inner-male">Stallion</span>
			                    </label>
			                    <label>
			                        <input type="radio" name="gender" ng-model="horseSingle.gender" value="Gelding"><span class="inner-male">Gelding</span>
			                    </label>
			                    <label>
			                        <input type="radio" name="gender" ng-model="horseSingle.gender" value="Mare"><span class="inner-male">Mare</span>
			                    </label>
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Markings" id="inputEmail" class="form-control add" name="markings" ng-model="horseSingle.markings" required>
	 							<span class="message-notify" style="text-align:left;font-size:14px;">(For a horse with no markings, please enter 'None'.)</span>
	 							<span class="text-danger inner-error" ng-show="updatehorse.markings.$invalid && !updatehorse.markings.$pristine">Marking is required.</span>
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Color" id="inputEmail" class="form-control add" name="color" ng-model="horseSingle.color" required>
	 							<!-- <span ng-show="(updatehorse.color.$error.pattern)" class="form-error">Please use characters only.</span> -->
	 							<span class="text-danger inner-error" ng-show="updatehorse.color.$invalid && !updatehorse.color.$pristine">Color is required.</span>
	 						</div>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Height" id="inputEmail" class="form-control add" name="height" ng-model="horseSingle.height" required > 
	 							<span class="text-danger inner-error" ng-show="updatehorse.height.$invalid && !updatehorse.height.$pristine">Height is required.</span> 
	 						</div>
	 						 <span ng-show="(updatehorse.height.$error.pattern)" class="form-error">Please use numeric only.</span>
	 						<div class="inn-form">
	 							<input type="text" placeholder="Quirks" id="inputEmail" class="form-control add" name="quirks" ng-model="horseSingle.quirks">
	 							<span class="message-notify" style="text-align:left;font-size:14px;">(Add any information you would like the Braider to know for braiding your horse.)</span>
	 						</div>
	 						<div class="fileinput fileinput-new" data-provides="fileinput">
	 						<!-- <img ng-src="{{horseSingle.image}}" style="width: 157px; height: 157px;"> -->
							  <div class="fileinput-new thumbnail" style="width: 157px; height: 157px;">
							    <img ng-hide="image" ng-show="horseSingle.image" ng-src="{{horseSingle.image}}" alt="" style="width: 157px; height: 147px;">
							    <img ng-show="!horseSingle.image" data-src="holder.js/100%x100%" alt="" src="dist/img/image-icon.jpg">
							    <img ng-show="image" data-src="holder.js/100%x100%" ng-src="{{fileData1}}" type="{{image.file.type}}"/>
							    <img ng-hide="showImage" data-src="holder.js/100%x100%" class="image-preview ng-hide" id="abc" ng-src="{{fileData1}}" alt="No Image" >
							  </div>
							   <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 157px; max-height: 157px;"></div> 
							  <div>
						      <span class="btn btn-default btn-file"><span class="fileinput-new">Upload Image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="3d_file" ng-model="horseSingle.image" onchange="angular.element(this).scope().fileUpload()"  accept="image/*" image="image"></span>
						      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
						 	</div>
						 	<!-- <span ng-show="showError" class="err">{{showError}}</span> -->
</div>
 <span class="show-error" ng-if="size > 2000000" class="err">Sorry, but that image is too large to upload. Please only upload images 2mb or smaller.</span>

                            
	 						<div class="sign-btn edit-horse-btn"><button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : updatehorse.$invalid }" ng-disabled="updatehorse.$invalid">Accept<div class="ripple-wrapper"></div></button></div>
	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 		</div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
	 </section>