<section id="main-sign" class="wrap">
<div class="container">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="sign-up-form">
	 				<h1>Forgot Password<span><img src="dist/img/sign-up-line.png"></span></h1>
	 					<form  name="userForgot" id="userForgot"  novalidate>	
	 						<div ng-show="errors" class="alert text-danger inner-error">
								<strong ng-bind="errors"></strong>
							</div>
							<div ng-show="error" class="alert text-danger inner-error">
								<p><strong>All fields are required.</strong></p>
							</div>	 						
	 						<div class="inn-form">
	 							<img class="account-message" src="dist/img/account-message.png" alt="user">
	 							<input type="email" placeholder="Email Address" id="inputEmail" class="form-control password" name="email" ng-model="register.email" ng-pattern="/^[a-zA-Z0-9]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/" required>
	 							<span ng-show="userForgot.email.$error.pattern" class="text-danger inner-error">Email must be valid.</span>
	 							<span class="text-danger inner-error" ng-show="userForgot.email.$invalid && !userForgot.email.$pristine">Email is required.</span>
	 						</div>
	 						
							<div class="sign-btn"><button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : userForgot.$invalid }" ng-disabled="userForgot.$invalid" ng-click="forgot(register.email)">Send<div class="ripple-wrapper"></div></button></div>


	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>

	 	</section>
