<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="homeController">		
 	<div class="carousel-inner">
		<ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
            <li data-slide-to="1" data-target="#myCarousel"></li>
            <li data-slide-to="2" data-target="#myCarousel"></li>
        </ol>
					 <div class="item active" style="background:url('dist/img/Kerianne_1.jpg')"> 
						  <div class="container">
						   <div class="carousel-caption">
							  <h1>BRAIDER BOOKING</h1>
						   </div>
						 </div>
					   </div>

					  <div class="item" style="background:url('dist/img/Kerianne_2.jpg')">
							<div class="container">
						 <div class="carousel-caption">
							<h1>BRAIDER BOOKING</h1>
						</div>
					   </div>
					   
					  </div>
					  
					  <div class="item" style="background:url('dist/img/Kerianne_3.jpg')">
						<div class="container">
						 <div class="carousel-caption">
							<h1>BRAIDER BOOKING</h1>
						</div>
					   </div>
					  </div>
				   </div>

				</div>
				 <!-- slider end -->
 		














		 
