<section id="inner-signup" class="myhorse_bx" ng-init="horseListing()">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	 	<div class="container">
	 		
	 		<div class="back-btn"><button ng-click="backService(serviceArray)" class="profile-btn choose-back"><i class="fa fa-arrow-circle-left"></i></button></div>
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 			    <h1>Select a Horse </h1> 
	 			    <div class="horse-services">(You will be able to add more horses for the same date and services in the next screen.)</div>
				</div>
				<p ng-show="!horseList">You have not added any horse. Please <a href="#/add-horse">Add A Horse</a> first.</p>
	 		</div>
			<div class="clearfix"></div>
			<div class="row">
			   <div class="col-md-12">
			       <ul class="list">{{houseList | json}}
				     <li ng-repeat="horse in horseList">
					  
					   <img ng-show="!horse.image" data-src="holder.js/100%x100%" alt="" src="dist/img/defaulthorse.jpg">
						 <img ng-src="{{horse.image}}" alt=""/>
						 <div class="desc">
						   <p>{{horse.name}}</p>
						   <a href="#/view-profile" id="{{horse.id}}_select" class="select" ng-click="singleHorse(horse, $event)">Select</a>
						   <a href="#/view-profile" id="{{horse.id}}_selected" class="selected"   style="display:none" ng-click="singleHorse(horse, $event)">Selected</a>
						 </div>	
 					   
					  </li>
					  
					   
				   </ul>
			   </div>
			</div>
			
	 	</div>
	 	</div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
	 </section>