	<section id="login-pages">
	<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="homeController">		
 	<div class="carousel-inner">
 		<div class="item active" style="background:url('dist/img/Kerianne_4.png')"></div>
 		<div class="item" style="background:url('dist/img/Krista_1.png')"></div>
     	<!-- <div class="item active" style="background:url('dist/img/Krista_9.jpg')"></div> -->
		<!-- <div class="item active" style="background:url('dist/img/Izzy_3.jpg')"></div>
		<div class="item" style="background:url('dist/img/Kerianne_8.jpg')"></div> -->
	</div>
	</div>


	<div id="inner-login">
	 	<div class="container" ng-controller="homeController">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="login-form">
	 					<h1>Login to Your Account<span><img src="dist/img/login-bottom.png"></span></h1>
	 					<form name="userLogin" id="userLogin" ng-submit="openLogin()" novalidate>
	 						<div ng-show="$root.message" class="alert bg-success">
								<strong ng-bind="$root.message"></strong>
							</div>
		 					<div ng-show="error" class="alert text-danger">
								<strong ng-bind="error"></strong>
							</div>	
	 						<div class="inn-form">
	 							<img class="email-img" src="dist/img/email-icon.png" alt="email">
	 							<input type="email" placeholder="E-mail Address" ng-model="items.email" name="email" id="inputEmail" class="form-control email" required>
	 						</div>
	 						<div class="inn-form">
	 							<img src="dist/img/password-icon.png" alt="password">
	 							<input type="password" placeholder="Password" ng-model="items.password" id="inputPassword" class="form-control password" required>
	 						</div>
	 						<div class="forgot-pass"><a ui-sref="forgot-password">Forgot password?</a></div>
	 						<!-- <div class="forgot-pass"><a ui-sref="reset_password({token:'hjgjhu'})">Reset password?</a></div> -->
	 						<div class="sign-btn"><input type="submit" value="Sign in"class="btn btn-primary"><div class="ripple-wrapper"></div></div>
	 						<div class="sign-uped"><a class="btn btn-primary" ui-sref="register">New Here? Create Your Account<div class="ripple-wrapper"></div></a></div>
	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	</div> 	

</section>
