<section id="inner-signup" class="wrap" ng-init="profile()">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12 col-xs-12">
 				<div class="sign-up-form">
 					<h1>My Profile<span><img src="dist/img/sign-up-line.png"></span></h1>
 					<form name="MyProfile" data-ng-submit="update(MyProfile.$valid)" novalidate>
 						<div ng-show="error" class="alert text-danger">
							<strong ng-bind="error"></strong>
						</div>	
 						<div class="inn-form">
 							<img class="account-user" src="dist/img/account-user.png" alt="user">
 							<input type="name" placeholder="Name"  id="inputName" class="form-control password" name="name" ng-model="userProfile.name" ng-pattern="/^[a-zA-Z ]*$/" required>
 						</div>
 						<span ng-show="(MyProfile.name.$error.pattern)" class="form-error">Please use characters only.</span>
 						<div class="inn-form">
 							<img class="account-message" src="dist/img/account-message.png" alt="user">
 							<input type="email" placeholder="Email Address" id="inputEmail"  class="form-control password" name="email" ng-model="userProfile.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
 						</div>
 						<span ng-show="(MyProfile.email.$error.pattern)" class="form-error">Invalid Email.</span>
 						<div class="inn-form">
 							<img src="dist/img/account-phone.png" alt="user">
 							<input type="text" placeholder="Phone Number"  id="inputEmail" class="form-control password" name="phone" ng-model="userProfile.phone" ng-pattern="/^[0-9 ]*$/" ng-maxlength="10" ng-minlength="10"required>
 							<span class="message-notify">(We will use your phone number to send SMS alerts to notify you of messages in the system.)</span>
 						</div>
 						<span ng-show="(MyProfile.phone.$error.pattern)" class="form-error">Please use numeric only.</span>
						<p ng-show="MyProfile.phone.$error.maxlength" class="form-error">Phone No.should be 10 digits long</p>
						<p ng-show="MyProfile.phone.$error.minlength" class="form-error">Phone No.should be atleast 10 digits</p>

 						<div class="sign-btn"><button class="btn btn-primary" type="submit">UPDATE PROFILE<div class="ripple-wrapper"></div></button></div>
 					</form>
 				</div>
 			</div>
 		</div>
 	</div>
</section>