<section id="inner-signup" class="wrap" ng-init="profile()">
<div ng-if="currentUser.User.access_token">
 	<div class="container">
 		 <div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>

 		<div class="row">
 			<div class="col-md-12">
 				<div class="my-profile-heading">
 					<h1>My Profile<span><img src="dist/img/sign-up-line.png"></span></h1>
	 			</div>
 			</div>
 		</div>

 		<div class="row"><!--row start here-->
 			<div class="col-md-6 col-xs-12"><!--fist-col-md-start-here-->
 				<div class="sign-up-form braid-profile">
 					<form name="MyProfile" data-ng-submit="update(MyProfile.$valid)" novalidate>
 					<div ng-show="$root.message" class="alert bg-success">
						<strong ng-bind="message"></strong>
					</div>
 						<div ng-show="error" class="alert text-danger">
							<strong ng-bind="error"></strong>
						</div>	
 						<div class="inn-form">
 							<img class="account-user" src="dist/img/account-user.png" alt="user">
 							<input type="name" placeholder="Name"  id="inputName" class="form-control password" name="name" ng-model="userProfile.name" ng-pattern="/^[a-zA-Z ]*$/" required>
	 						<span ng-show="(MyProfile.name.$error.pattern)" class="form-error">Please use characters only.</span>
	 						<span class="text-danger inner-error " ng-show="MyProfile.name.$invalid && !MyProfile.name.$pristine">Name is required.</span>
 						</div>
 						<div class="inn-form">
 							<img class="account-message" src="dist/img/account-message.png" alt="user">
 							<input type="email" placeholder="Email Address" id="inputEmail"  class="form-control password" name="email" ng-model="userProfile.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
 							<span ng-show="(MyProfile.email.$error.pattern)" class="form-error">Email must be valid.</span>
 							<span class="text-danger inner-error " ng-show="MyProfile.email.$invalid && !MyProfile.email.$pristine">Email is required.</span>
 							<span class="text-danger inner-error " ng-show="sameEmail">{{sameEmail}}</span>
 						</div>
 						<div class="inn-form">
 							<img src="dist/img/account-phone.png" alt="user">
 							<input type="text" placeholder="Phone Number"  id="inputEmail" class="form-control password" name="phone" ng-model="userProfile.phone" ng-pattern="/^[0-9 ]*$/" ng-maxlength="10" ng-minlength="10"required>
 							<span class="message-notify">(We will use your phone number to send SMS alerts to notify you of messages in the system.)</span>
 						<span ng-show="(MyProfile.phone.$error.pattern)" class="form-error">Please use numeric only.</span>
						<p ng-show="MyProfile.phone.$error.maxlength" class="form-error">Phone No.should be 10 digits long</p>
						<p ng-show="MyProfile.phone.$error.minlength" class="form-error">Phone No.should be atleast 10 digits</p>
						<span class="text-danger inner-error " ng-show="MyProfile.phone.$invalid && !MyProfile.phone.$pristine">Phone is required.</span>
 						</div>

 						<div class="sign-btn"><button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : MyProfile.$invalid }" ng-disabled="MyProfile.$invalid">UPDATE PROFILE<div class="ripple-wrapper"></div></button></div>
 					</form>
 				</div>
 			</div><!--fist-col-md-close-here-->

 			<div class="col-md-6 col-xs-12">
 				<div class="sign-up-form braid-profile">
 					<form name="resetPasword" ng-submit="reset(resetPasword.$valid)" novalidate>
 						<div ng-show="passErr" class="alert text-danger">
							<strong ng-bind="passErr"></strong>
						</div>
						<div ng-show="pass" class="alert text-success">
							<strong ng-bind="pass"></strong>
						</div>
 						<input type="hidden" ng-model="newPass.currentUser.User.access_token">
 						<input type="hidden" ng-model="newPass.currentUser.User.id">
 						<div class="inn-form">
 							<img class="account-user" src="dist/img/account-password.png" alt="user">
 							<input type="password" placeholder="New Password" ng-model="newPass.password" id="" class="form-control password" name="password" required>
 							<span class="text-danger inner-error " ng-show="resetPasword.password.$invalid && !resetPasword.password.$pristine">Password is required.</span>
 						</div>

 						<div class="inn-form">
 							<img class="account-user" src="dist/img/account-password.png" alt="user">
 							<input type="password" placeholder="Confirm Password" ng-model="newPass.cpassword" id="" class="form-control password" name="cpassword" required>
 							<span class="text-danger inner-error " ng-show="resetPasword.cpassword.$invalid && !resetPasword.cpassword.$pristine">Confirm Password is required.</span>
 						</div>

 						<div class="sign-btn send">
 							<button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : resetPasword.$invalid }" ng-disabled="resetPasword.$invalid">Send<div class="ripple-wrapper"></div></button>
 						</div>
 					</form>
 				</div>
 			</div>





 		</div><!--row close here-->




 	</div>
 	</div>
 	<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
</section>