<section class="wrapper_row" ng-init="braider_services()">
	  		
 	<section class="full_reserv" id="reservation">
	  <div class="container">
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="show-shedule">
	 			    <h2><span class="my-show">My Services</span><span class="show-btns"><a type="button" class="btn btn-primary add-show" href="#/add-service">Add Service</a></span></h2> 
	 				</div>
				</div>
	 		</div>
			<div class="clearfix"></div>
			<div class="row">
			   <div class="col-md-12">
			   	 <table class="table table_res">
         <tr>
        <th>Service Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="service in AllBraiderServices">
       <td>{{service.name}} </td>
       <td>{{service.price}}</td>
       <td>{{service.description}} </td>
      </tr>

       </table>	
		<div class="clearfix"></div>
		</div>
	</div>
			
	</div>
	</section>