<section class="wrapper_row" ng-init="braider_services()">
	  <div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">		
 	<section class="full_reserv" id="reservation">
	  <div class="container">
     <div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="show-shedule">
	 			    <h2><span class="my-show">My Services</span><span class="show-btns"><a type="button" class="btn btn-primary add-show" href="#/add-service">Add Service</a></span></h2> 
	 				</div>
				</div>
	 		</div>
			<div class="clearfix"></div>
      <div ng-show="$root.message" class="alert bg-success">
          <strong ng-bind="message"></strong>
        </div>
          <span ng-show="noService">{{noService}}</span>
          <span ng-show="serviceUpdate" class="alert bg-success">{{serviceUpdate}}</span>
          <span ng-show="msg" class="alert text-danger">{{msg}}</span>

      <div class="row">
         <div class="col-md-12" ng-if="!AllBraiderServices == ''">
      
           <table class="table table_res" >
         <tr>
        <th>Service Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="service in AllBraiderServices">
     <td>
      <div ng-hide="editingData[service.id]">{{service.name}}</div>
      <div ng-show="editingData[service.id]"><input type="text" ng-model="service.name" name="name" required/>
      </div>
     	
     </td>
     <td>
      <div ng-hide="editingData[service.id]">${{service.price}}</div>
      <div ng-show="editingData[service.id]"><input type="text" ng-model="service.price" name="price" required/></div>
     	
     </td>
     <td>
      <div ng-hide="editingData[service.id]">{{service.description}}</div>
      <div ng-show="editingData[service.id]"><input type="text" ng-model="service.description" name="description" /></div>
     	
     </td>
     <td>
    <button ng-hide="editingData[service.id]" ng-click="modify(service)">Edit</button>
    <button ng-show="editingData[service.id]" ng-click="updatetable(service)">Update</button>

  </td> 
</tr>

       </table>


		<div class="clearfix"></div>
		</div>
	</div>
			
	</div>
  </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center"> 
  <label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
  </div>
	</section>