<section id="inner-signup" class="myhorse_bx" ng-init="horseListing()">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	 	<div class="container">
	 	<div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
	 		<div class="wrapper">
	 			
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 			    <h1 class="heading_bx">My Horses <span class="pull-right"><a href="#/add-horse" class="btn btn-danger">Add Horse</a></span></h1> 
				</div>
	 		</div>
			<div class="clearfix"></div>
			<div ng-show="$root.message" class="alert bg-success">
				<strong ng-bind="message"></strong>
			</div>
			<div class="row">
			   <div class="col-md-12">
			       <ul class="list">
			       	<p ng-show="noHorse">{{noHorse}}</p>
				     <li ng-repeat="horse in horseList | limitTo:paginationLimit()">
				     <a class="close-cross" href="javascript:void(0);" ng-click="deleteHorse(horse.id)"><img src="dist/img/close1.png"></a>
					   <a href="#/edit-horse" ng-click="singleHorse(horse)">
					   <img ng-show="!horse.image" data-src="holder.js/100%x100%" alt="" src="dist/img/defaulthorse.jpg">
						 <img ng-src="{{horse.image}}" alt=""/>
						 <div class="desc">
						   <p>{{horse.name}}</p>
						 </div>	
 					   </a>
					  </li>
				   </ul>
				   <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">View More</button>
			   </div>
			</div>
			
	 	</div>
        </div>
	 		</div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
	 </section>

