<section class="full_reserv res_bx">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	  <div class="container">
	  <div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
	     	
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 			    <h2>My Reservations</h1> 
					</div>
	 		</div>
			<div class="clearfix"></div>
			<div class="row">
				<span ng-show="cancel" class="alert bg-success">{{cancel}}</span>
				<span ng-show="updateRes" class="alert bg-success">{{updateRes}}</span>
			</div>
			<!--  <span ng-show="noReservation">{{noReservation}}</span> -->
			<div class="row">
			   <div class="col-md-12" ng-init="competitorReservation()">
			   <div class="click_row"><h4>Click a row to open.</h4></div>
			       <table class="table table_res dash_table">
					 	<tr class="compititor_heading">
					 		<th></th>
					 		<th>Res.#</th>
					        <th>Date</th>
					        <th>Service</th>
					        <th>Horse</th>
					        <th>Status</th>
					    </tr>
					    <tr style="cursor:pointer;" ng-click="competitorSingleReservation(reserve.reservation_id)" ng-repeat="reserve in reservations | limitTo:paginationLimit() | orderBy:'date':true">
					    	<!-- <td><a ui-sref="braider_profile" ng-click="showProfile(reserve.braider_id)">
					    	<p ng-repeat="braidName in reserve.services | limitTo:1">{{braidName.braidername}}</p></a></td> -->
					    	<td>
					    		<!--  <span ng-switch on="reserve.res_number">
                      <img ng-switch-when="" src='dist/img/msg_icon.png'>
                      <img ng-switch-default >
                  </span> -->
                  <img class="img" ng-show="reserve.mark_as_read"  src="dist/img/msg_icon.png"/>
                  <div ng-hide="reserve.barnNumber || reserve.stallNumber || reserve.barnName" class="error_icon"><font color="red"><i class="fa fa-exclamation"></i></font></div>
              
					    	</td>
					    	<td>{{reserve.res_number ? reserve.res_number :'null'}}</td>
					    	<td>{{reserve.date}}</td>
					    	<td><p ng-repeat="services in reserve.services">{{services.name}}</p></td>
					    	<td>{{reserve.horsename}}</td>

					    	
					    	<td class="status">{{reserve.status}}</td>
					    <!--  <td>
					    		<a  href="#/edit-reservation" class="btn btn-primary" ng-click="competitorSingleReservation(reserve)">Edit</a>
					    		<a  href="#/detail-reservation" class="btn btn-primary" ng-click="competitorSingleReservation(reserve)">Details</a>
 						    </td> -->
					    </tr>
					 </table>
					 <p ng-hide="reserveLength">No Scheduled Reservations Yet!</p>
					 <div class="col-md-12 calender-footer">
	 				<a href="">[ <span><i class="fa fa-exclamation"></i></span> ]</a> Location Information Needed <a href="">[ <i class="fa fa-envelope-o"> ]</i>
					</a> Unread Message.
                    </div>
					 <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">View More</button>

					 <h3 class="complete_reser"> Completed Reservations</h3>
					 <table class="table table_res dash_table">
					 	<tr class="compititor_heading">
					 		<th></th>
					 		<th>Res.#</th>
					        <th>Date</th>
					        <th>Service</th>
					        <th>Horse</th>
					        <th>Status</th>
					    </tr>
					    <tr style="cursor:pointer;" ng-click="competitorSingleReservation(complete.id)" ng-repeat="complete in completed_res | limitTo:paginationLimit1() | orderBy:'date':true">
					    	<td>
                  <img ng-show="complete.mark_as_read"  src="dist/img/msg_icon.png"/>
                  <div ng-hide="complete.barnNumber || complete.stallNumber || complete.barnName" class="error_icon"><font color="red"><i class="fa fa-exclamation"></i></font></div>
              
					    	</td>
					    	<td>{{complete.res_number ? complete.res_number :'null'}}</td>
					    	<td>{{complete.date}}</td>
					    	<td>{{complete.service}}</td>
					    	<td>{{complete.horse ? complete.horse: 'null'}}</td>
					    	<td class="status">{{complete.status}}</td>
					    </tr>
					 </table>
					 <p ng-hide="completelength">No Completed Reservations Yet!</p>
					  <div class="col-md-12 calender-footer">
	 				<a href="">[ <span><i class="fa fa-exclamation"></i></span> ]</a> Location Information Needed <a href="">[ <i class="fa fa-envelope-o"> ]</i>
					</a> Unread Message.
                    </div>
					 <div class="clearfix"></div>
					  <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsToShow1()" ng-click="showMoreItems1()">View More</button>
			   </div>
			</div>
			
	  </div>
	  </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
	</section>
