<div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">
<section id="inner-portfolio">
		<div class="container">
		<div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
		<form name="imageUpload" ng-submit="submit()">
			<div class="row">
				<div class="col-md-12">
					<h1>My Portfolio<span><img src="dist/img/portfolio-line.png"></span></h1>
                     <div class="fileinput fileinput-new" data-provides="fileinput">
					  <div class="fileinput-new thumbnail" style="width: 157px; height: 157px;">
					   <img ng-hide="image" data-src="holder.js/100%x100%" alt="" src="dist/img/poertfolio-browse.png">
							    <img ng-show="image" data-src="holder.js/100%x100%" ng-model="image" type="{{image.file.type}}"/>
							    <img ng-hide="showImage" data-src="holder.js/100%x100%" class="image-preview ng-hide" id="abc" src="{{fileData1}}" alt="No Image" style="width:157px; height: 157px;">
							     <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
					  </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 157px; max-height: 157px;"></div>
					  <div>
					    <span class="btn btn-default btn-file"><span class="fileinput-new">Upload Image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="3d_file" ng-model="horse.image" onchange="angular.element(this).scope().fileUpload1()"  accept="image/*" image="image" required></span>
					    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
					  </div>
					</div><br/>
					   <!-- <span class="show-error" ng-show="showError" class="err">{{showError}}</span> -->
					   <span class="show-error" ng-if="size > 2000000" class="err">Sorry, but that image is too large to upload. Please only upload images 2mb or smaller.</span>
					   <img src="dist/img/loading.gif" ng-show="loader == true">
					<div class="add-caption">
						<textarea id="textArea" rows="3" class="form-control" placeholder="Add a Caption" ng-model="caption" name="caption" ng-pattern="/[^a-zA-Z0-9 ]*$/" required></textarea>
						<span class="text-danger inner-error " ng-show="imageUpload.caption.$invalid && !imageUpload.caption.$pristine || imageUpload.caption.$pristine">Caption is required.</span>
					</div>
					
			<input class="btn btn-danger" ng-disabled="imageuploadbtn || imageUpload.caption.$pristine || imageUpload.caption.$invalid" type="submit" id="submit" value="Submit" /> 
				</div>
			</div> 
			</form>
		</div>
	</section>	


	<section id="inner-signup">
	 	<div class="container">
	 		
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 			    <h2>My Portfolio </h2> 
				</div>
	 		</div>
	 		<p ng-show="message">{{message}}</p>
	 		<p ng-show="detetePic">{{detetePic}}</p>
	 		<p ng-show="imageAdded" class="alert text-success">{{imageAdded}}</p>
			<div class="clearfix"></div>
			<div class="row">
			   <div class="col-md-12" ng-if="!message">
			       <ul class="list listed">
				     <li ng-repeat="protfolio in protfolio.portfolio | limitTo:paginationLimit()">
                     <a class="close-cross" href="javascript:void(0);" ng-click="removePortfoliimage(protfolio.id)"><img src="dist/img/close1.png"></a>
					   <a href="#">
						 <img alt="horse" ng-src="{{protfolio.image}}">
						 <div class="desc-2"> 
						   <p>{{protfolio.image_caption}}</p>
						 </div>
						 </a>	
					    </li> 
					 </ul>
					 <div class="clearfix"></div>
					 <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">View More</button>
					</div>
			</div>
			
	 	</div>
	 </section>
	 </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
</div>



	