<section id="main-sign" class="wrap" ng-controller="homeController">
<div class="container">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="sign-up-form">
	 					<h1>Sign Up for Braider Booking<span><img src="dist/img/sign-up-line.png"></span></h1>
	 					<form name="userRegister" id="userRegister" ng-submit="openRegister(userRegister.$valid)" novalidate>	
							<div ng-show="text" class="alert text-danger inner-error">
								<p>The email address you have entered is already registered with us. Please log into your existing account. Or, if you think this is an error, please contact us @ <a class="web-link-error" href="mailto:braiderbooking@gmail.com">braiderbooking@gmail.com</a></p>
							</div>
							<div ng-show="msg" class="alert text-danger inner-error">
								<p>{{msg}}</p>
							</div>
							<div ng-show="error" class="alert text-danger inner-error">
								<p><strong>Oops! Its Server Error. Please try again.</strong></p>
							</div>
	 						<div class="inn-form">
	 							<img class="account-user" src="dist/img/account-user.png" alt="user">
	 							<input type="text" placeholder="Name" id="inputName" class="form-control password" name="name" ng-model="register.name" ng-pattern="/^[a-zA-Z ]*$/" required />
	 							<span ng-show="userRegister.name.$error.pattern" class="text-danger inner-error">Please use characters only.</span>
		 						<span class="text-danger inner-error " ng-show="userRegister.name.$invalid && !userRegister.name.$pristine || userRegister.name.$pristine">Name is required.</span>

	 						</div>
	 						
	 						<div class="inn-form">
	 							<img class="account-message" src="dist/img/account-message.png" alt="user">
	 							<input type="email" placeholder="Email Address" id="inputEmail" class="form-control password" name="email" ng-model="register.email" ng-pattern="/^[a-zA-Z0-9]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/" required>
	 							<span ng-show="userRegister.email.$error.pattern" class="text-danger inner-error">Email must be valid.</span>
	 							<p class="text-danger inner-error" ng-show="userRegister.email.$invalid && !userRegister.email.$pristine || userRegister.email.$pristine">Email is required.</p>
	 						</div>
	 						<div class="inn-form">
	 							<img src="dist/img/account-phone.png" alt="user">
	 							<input type="text" placeholder="Phone Number" id="inputEmail" class="form-control password" name="phone" ng-pattern="/^[0-9 ]*$/" ng-model="register.phone" ng-maxlength="10" ng-minlength="10" required>
	 							<span class="message-notify">(We will use your phone number to send SMS alerts to notify you of messages in the system.)</span>
	 							<span ng-show="userRegister.phone.$error.pattern" class="text-danger inner-error">Please use numeric only.</span>
                  				<p ng-show="userRegister.phone.$error.minlength" class="text-danger inner-error">Sorry, your phone needs to be a minimum of 10 digits.</p>
                  				<p ng-show="userRegister.phone.$error.maxlength" class="text-danger inner-error">Sorry, your phone needs to be a maximum of 10 digits.</p>
                  				<span class="text-danger inner-error" ng-show="userRegister.phone.$invalid && !userRegister.phone.$pristine || userRegister.phone.$pristine">Phone is required.</span>
	 						</div>
	 						<div class="inn-form">
	 							<img class="acc-select" src="dist/img/account-selectbox.png" alt="user">
		 						<select class="form-control password" ng-model="register.role" name="role" required>
								   <option value="">I Am a</option>
								   <option value="competitor">Competitor</option>
								   <option value="braider">Braider</option>
								</select>
								<span class="text-danger inner-error" ng-show="userRegister.role.$invalid && !userRegister.role.$pristine || userRegister.role.$pristine">Role is required.</span>	
	 						</div>
	 						<div class="inn-form">
	 							<img src="dist/img/account-password.png" alt="user">
	 							<input type="password" placeholder="Password" id="inputEmail" ng-model="register.password" name="password" ng-minlength="6" class="form-control password" required>
	 							<span class="text-danger inner-error" ng-show="userRegister.password.$invalid && !userRegister.password.$pristine || userRegister.password.$pristine">Password is required.</span>
	 							<p ng-show="userRegister.password.$error.minlength" class="text-danger inner-error">Sorry, your password needs to be a minimum of 6 characters.</p>	
	 						</div>
	 						<div class="inn-form">
	 							<img src="dist/img/account-password.png" alt="user">
	 							<input type="password" placeholder="Confirm Password" id="inputEmail" class="form-control password" name="cpassword" ng-minlength="6" ng-model="register.cpassword" required>
	 							<span class="text-danger inner-error" ng-show="userRegister.cpassword.$invalid && !userRegister.cpassword.$pristine || userRegister.cpassword.$pristine">Confirm Password is required.</span>
	 							<p ng-show="userRegister.cpassword.$error.minlength" class="text-danger inner-error">Sorry, your password needs to be a minimum of 6 characters.</p>
	 						</div>
	 						<div class="inn-form" id="check-inner">
	 							<!-- <a href="#/termsandcondition" target="_blank">I agree to the terms and conditions</a>
	 							<input type="checkbox"  id="inputEmail" class="form-control password" ng-model="register.agree" required> -->
	 							<div class="inner-checkbox">
	 							  <input type="checkbox" id="checkbox65" class="css-checkbox med" name="tandc"ng-model="register.agree" required/>
								  <label for="checkbox65" name="checkbox65_lbl" class="css-label med elegant">I agree to the</label>
								</div>

	 							<!-- <div class="inner-checkbox"><input type="checkbox"  id="inputEmail" class="form-control password" ng-model="register.agree" required><span>I agree to the</span></div> -->
	 							<div class="term-right">
	 							<a href="#" data-toggle="modal" data-target="#termsmodal">terms and conditions</a>
	 							<p class="text-danger inner-error" ng-show="userRegister.tandc.$invalid && !userRegister.tandc.$pristine || userRegister.tandc.$pristine">Terms and Conditions is required.</p>
	 							</div>
	 						</div>
								<div class="sign-btn"><button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : userRegister.$invalid }" ng-disabled="userRegister.$invalid">Sign up<div class="ripple-wrapper"></div></button></div>


	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
<div ng-init="termsandcondition()" >
	 	<!-- Modal -->
<div class="modal fade" id="termsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close1.png"></button>
        <h4 class="modal-title" id="myModalLabel">Terms &amp; Conditions</h4>
      </div>
      <div class="modal-body"><!--modal-body-start here-->

       <div id="terms-condition" class="terms-container" ng-bind-html="termsCondition">
	</div>

    </div><!--modal-body-close here-->


    </div>
  </div>
</div>
</div>
	 	</section>
