<div<div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">
<section id="sant-reserved">
		<div class="container">
		<div class="back-btn"><a ui-sref="reservation-list" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
			<div class="row">
				<div class="col-md-12">
					<h1>Reservation#&nbsp;{{res_number2}}</h1>
					<h1>{{reservationSingle[0].competitor}}</h1>
					<h2>{{reservationSingle[0].horsename}} <span>@ {{reservationSingle[0].showname}}</span></h2>
						<h3>{{reservationSingle[0].date}}<span>{{reservationSingle[0].statename}}</span></h3>
						<div ng-repeat="services in reservationSingle[0].services" style="text-align:center; width:100%;">
			  				<p style="text-align:center; width:100%;"><span >{{services.name}}:</span> <span >{{services.description}}-</span> <span>${{services.price}}</span></p>
                            
				  		</div>
                       
                        
                        <div class="table_edit">
				  		<p><span>Barn Name:</span>{{reservationSingle[0].barnName ? reservationSingle[0].barnName : '  -' }}</p>
				  		<p><span>Barn Number:</span>{{reservationSingle[0].barnNumber ? reservationSingle[0].barnNumber : '  -'}}</p>
				  		<p><span>Stall Number:</span>{{reservationSingle[0].stallNumber ? reservationSingle[0].stallNumber : '  -'}}</p>
                        </div>
                        
                        
						<h4 class="price"><span>Total Price:</span>${{reservationSingle[0].total_price}}</h4>
						<!-- <p>Wynn is showing the  Performance Hunters with top prizes O/F &nbsp; U/S in<br> Ocala &nbsp; St. Louis. She was in dressage training until age 6 and earned ....</p> -->
						<div class="reservation-btns">
							<button type="button" class="btn btn-primary" ng-click="acceptRejectReservation(reservationSingle[0], 1)" ng-model="val" ng-hide="reservationSingle[0].status == 'confirm'">Accept</button>
							<button type="button" class="btn btn-primary" ng-click="acceptRejectReservation(reservationSingle[0], 0)" ng-model="val">Decline</button>
							<button data-toggle="modal" data-target="#message-btn" type="button" class="btn btn-primary">Message</button>
							<div ng-show="$root.message" class="alert bg-success">
								<strong ng-bind="$root.message"></strong>
							</div>
							<!-- Modal start here-->
							<div class="modal fade" id="message-btn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close.png"></button>
							      </div>
							      <div class="modal-body">
							        <textarea class="form-control"  placeholder="Message" ng-model="txt"></textarea>
							        <button data-dismiss="modal" type="button" class="btn btn-primary" ng-click="messageToCompetitor(reservationSingle[0].reservation_id, reservationSingle[0].compitetor_id)">Send</button>
							      </div>
							    </div>
							  </div>
							</div>
							<!-- Modal close here-->
							
						</div>	
				</div>
			</div>
		</div>	
	</section>

	<section id="horse-detail">
		<div class="container">
			<div class="row">
	 			<div class="col-md-12">
	 				<div class="inner-horse-detail">
	 					<img src="{{reservationSingle[0].horseimage}}" alt="{{reservationSingle[0].horsename}}">
	 					<h1>{{reservationSingle[0].horsename}}<span>{{reservationSingle[0].statename}}</span></h1>
	 					<table>
	 						<tr>
		 						<td align="left">Marking:</td>
		 						<td>{{reservationSingle[0].horsemarkings}}</td>
	 						</tr>
	 						<tr>
		 						<td align="left">Color:</td>
		 						<td>{{reservationSingle[0].horsecolor}}</td>
	 						</tr>
	 						<tr>
		 						<td align="left">Height:</td>
		 						<td>{{reservationSingle[0].horseheight}} m</td>
	 						</tr>
	 						<tr>
	 							<td align="left">Gender:</td>
	 							<td>{{reservationSingle[0].horsegender}}</td>
	 						</tr>
	 						<tr>
	 							<td align="left">Quirks:</td>
	 							<td>{{reservationSingle[0].horsequirks}}</td>
	 						</tr>
	 					</table>
	 				</div>
	 			</div>
			</div>
		</div>
<div>


<section id="reservation_detail_table">
    <div class="container">
  <div class="row">
    <div class="col-xs-12">
    <table class="table table-bordered table-hover detail_reser_table">
          <thead>
            <tr>
              <th class="to_from_reservation">From / To <i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></th>
              <th class="date_reservation">Date</th>
              <th class="msg_reservation">Messages</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor:pointer;" data-target="#primary" data-toggle="modal" ng-click="single(msg,reservationId)" ng-repeat="msg in Allmessage | orderBy:'-msgid':true">
              <td ng-class="msg.mark_as_read ? 'unread':'' ">{{msg.from_user}}>{{msg.to_user}}</td>
              <td ng-class="msg.mark_as_read ? 'unread':'' ">{{msg.date |  date:'MMM,dd,yyyy'}}</td>
              <td class="mm" ng-class="msg.mark_as_read ? 'unread':'' ">{{msg.msg}}</td>
            </tr>
          </tbody>
    </table>
    <p ng-hide="Allmessage"> No Message To Display</p>
    </div>
    </div>
    </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="overlay">
        <div class="modal-dialog  reservation_model">
            <div class="modal-content">
                <div class="modal-header modal-header-primary reserv_header">
                <button class="close close_popup" data-dismiss="modal" type="button"><i class="fa fa-times close_icon"></i>
				</button>
                    <h3>Message</h3>
                </div>
                <div class="modal-body">
                <div class="model_contant">
                <table class="heading_contant">

                <tr><td class="left_contant"><h3>Date</h3></td>
                <td><p><!-- <span><i class="fa fa-clock-o clock"></i>4:38 pm</span> -->&nbsp;{{pop_msg.date |  date:'MMM.dd, yyyy'}}</p></td>
                </tr>
                <tr>
               <td class="left_contant"><h3>To</h3></td>
               <td><p>&nbsp;{{pop_msg.to_user}}</p></td>
               </tr>
               
               <tr>
               <td class="left_contant"><h3>From</h3></td>
               <td><p>&nbsp;{{pop_msg.from_user}}</p></td>
               
               
               </tr>
               <tr>
                <td class="left_contant"><h3>Full Message</h3></td>
                <td ><p>&nbsp;{{pop_msg.msg}}</p></td>
                </tr>
                </table>

                </div>
                <div class="modal-footer">
                    <button type="button" data-toggle="modal" data-target="#message-btn" class="btn btn-default reply_button" data-dismiss="modal">Reply</button>
</div>
    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
    </div>
</div>
	</section>
	 </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
</div>