<div>
<section class="Your_Reservations">
    	<div class="container">
        	<div class="row">
         <div class="reservarion_head">   
         <button ng-click="prevdate(date)" ng-disabled='prev_button' class="left_button"><i class="fa fa-caret-left"></i></button>
         <h1>  
         My Reservations for {{month}} {{date_reservation}}, {{year_reservation}}
          </h1> 
         <button ng-click="nextdate(date)" ng-disabled='next_button' class="right_button"><i class="fa fa-caret-right"></i></button>
        
         </div>
         
          <div class="under_line"><img src="dist/img/line_blue.png" /></div>
          <a href="#/calendar"><button  class="back_button"><i class="fa fa-angle-left"></i>Back</button></a>
        <div class="reservation_list">
        <div class="data_change">
         <dir-pagination-controls
        max-size="1"
        direction-links="true"
        boundary-links="false" >
    </dir-pagination-controls>
</div>


<div class="click_row"><h4>Click a row to open.</h4></div>
    <table class="table table-bordered table-hover ">
          <thead class="reservation_heading" style="cursor: move;">
            <tr>
              <th class="icon_table"> </th>
              <th class="Horse">Res. #</th>
              <th class="Horse">Horse</th>
              <th class="Horse">Service</th>
              <th class="Horse">Status</th>
            </tr>
          </thead>
          <tbody class="ur_data"  ui:sortable="sortableOptions" ng-model="braider">
          <tr id="table" ng-click="braiderSingleReservation(reserve)" dir-paginate="reserve in braider |itemsPerPage:10"> 
	  <!--  <tr onclick="document.location = '#/reservation-detail';" ng-click="braiderSingleReservation(reserve)" ng-repeat="reserve in braider |"> -->
              <!--<td><img ng-src="{{reserve.status == 'Confirmed' && 'dist/img/paid_icon.png'|| reserve.messages != ''  &&  'dist/img/msg_icon.png' || 'dist/img/login-bg.png'}}"/></td> -->
              <td  class="td_reserv">
                <!-- <img ng-src="{{reserve.status == 'Pending' && 'dist/img/paid_icon.png' || 'dist/img/blue-arrow.png'}}"/> -->
                     <img ng-show="reserve.mark_as_read"  src="dist/img/msg_icon.png"/>
                     <div ng-hide="reserve.barnNumber || reserve.stallNumber || reserve.barnName" class="error_icon"><font color="red"><i class="fa fa-exclamation"></i></font></div>
              </td>
              <td class="td_reserv">{{reserve.res_number}}</td>
              <td class="td_reserv">{{reserve.horsename}}</td>
              <td class="td_reserv">{{reserve.services}}</td>
              <td class="td_reserv">{{reserve.status}}</td>
            </tr>
          </tbody>
        </table>
              <div class="col-md-12 calender-footer">
                  
	 <a href="">[ <i class="fa fa-exclamation"></i> ]</a> Location Information Needed <a href="">[ <i class="fa fa-envelope-o"> ]</i>
</a> Unread Message.
                    </div>
        </div>
   
        </div>
    </div>
    </section>
  </div>
<style>
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

td {
    cursor:pointer;
}


</style>
<script>$('#table').draggable();</script>
