<section id="main-sign" class="wrap" ng-controller="homeController">
<div class="container">
	 		<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="sign-up-form">
	 					<h1>Reset Password<span><img src="dist/img/sign-up-line.png"></span></h1>
	 					<form name="resetPswd" id="resetPswd" ng-submit="openRegister(resetPswd.$valid)" novalidate>	
							<div ng-show="errors" class="alert text-danger inner-error">
								<strong ng-bind="errors"></strong>
							</div>
							<div ng-show="error" class="alert text-danger inner-error">
								<p><strong>All fields are required.</strong></p>
							</div>
	 						
	 						<div class="inn-form">
	 							<img src="dist/img/account-password.png" alt="user">
	 							<input type="password" placeholder="Password" id="inputEmail" ng-model="register.password" class="form-control password" required>
	 							<span class="text-danger inner-error" ng-show="resetPswd.password.$invalid && !resetPswd.password.$pristine">Password is required.</span>	
	 						</div>
	 						<div class="inn-form">
	 							<img src="dist/img/account-password.png" alt="user">
	 							<input type="password" placeholder="Confirm Password" id="inputEmail" class="form-control password" ng-model="register.cpassword" required>
	 							<span class="text-danger inner-error" ng-show="resetPswd.cpassword.$invalid && !resetPswd.cpassword.$pristine">Confirm Password is required.</span>
	 						</div>
	 						
								<div class="sign-btn"><button class="btn btn-primary" type="submit" ng-class="{ 'disabled' : resetPswd.$invalid }" ng-disabled="resetPswd.$invalid">Confirm<div class="ripple-wrapper"></div></button></div>


	 					</form>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
</section>
