<section class="full_reserv res_bx">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
  <div class="container">
    <h1>Schedule a Braider <br/>
      <span><img src="dist/img/sign-up-line.png"></span></h1>
    <div class="res_form">
      <div class="row">
      <form>
        <div class="col-md-6">
          <div class="inn-form">
            <select class="form-control add" ng-model="state">
              <option value="" disabled>Choose State</option>
              <option value="Melburn">Melburn</option>
              <option value="Sydney">Sydney</option>
            </select>
          </div>
          <div class="inn-form">
            <select class="form-control add" ng-model="allmonth" ng-init="allmonth=''" ng-change="setMonth(allmonth)" required>
              <option value="" disabled>Choose Month</option>
              <option ng-repeat="month in months" value="{{month.id}}">{{month.name}}</option>
            </select>
          </div>
          <div class="inn-form" ng-hide="monthshowList">
          <div ng-init="showListing()">
            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)" required>
              <option value="" disabled>Choose Show</option>
              <option ng-repeat="shows in showList" value="{{shows.id}}">{{shows.showName}}</option>
            </select>
            </div>
          </div>
          <div class="inn-form" ng-show="monthshowList">
            <select class="form-control add" ng-model="allshows" ng-init="allshows=''" ng-change="setShow(allshows, shows)" required>
              <option value="" disabled>Choose Show</option>
              <option ng-repeat="shows in monthshowList" value="{{shows.id}}">{{shows.showName}}</option>
            </select>
          </div>
          <div class="inn-form" ng-init="horseListing()">
            <select class="form-control add" ng-model="allhorse" ng-init="allhorse=''" ng-change="setHorse(allhorse)" required>
              <option value="" disabled>Choose Horse</option>
              <option ng-repeat="horse in horseList" value="{{horse.id}}">{{horse.name}}</option>
            </select>
          </div>
          <div class="inn-form">
            <select class="form-control add" ng-model="alldate" ng-init="alldate=''" ng-change="setDate(alldate)" required>
              <option value="" disabled>Choose Date</option>
              <option ng-repeat="date in nextDate" value="{{date}}">{{date}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="inn-form">
            <input type="text" value="" name="" data-am-custom-bgcolor="#03a9f4" data-toggle="modal" placeholder="Choose Braider" class="form-control add" data-target=".bs-example-modal-lg">
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><img src="dist/img/close.png"></button>
                <div class="modal-content choose-braider">
                  <div class="container-fluid">
                    <div class="row braider-popup" ng-repeat="braider in braiderAvailable">
                      <ul>
                        <h3>{{braider.name}}</h3>
                        <li ng-repeat="services in braiderAvailable[0].services">
                          <p><b>{{services.name}}:</b> {{services.description}} </p>
                          <h1>Price: <b>${{services.price}}</b></h1>
                        </li>
                      </ul>
                      <div class="popup-btn"> <a class="btn btn-primary btn-edit" href="#/braid-profile" ng-click="showProfile(braider.id)" >Profile</a> <a class="btn btn-danger" href="javascript:void()" data-dismiss="modal" data-toggle="modal" data-target=".bs-example-modal-lg2" ng-click="setBraider(braider.id)">Select</a></div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close.png"></button>
                <div class="modal-content choose-braider">
                  <div class="container-fluid">
                    <div class="row braider-popup">
                      <ul>
                        <li>
                        
                          <label  ng-repeat="service in braidServices">
                          <input type="checkbox" value="{{service.id}}" ng-click="selectedServices(service.id)" ng-model="serviceArray">
                          <p><b>{{service.name}}:</b> {{service.description}} </p>
                          <h1>Price: <b>${{service.price}}</b></h1>
                          </label>
                         
                        </li>
                       
                      </ul>
                      <div class="popup-btn"> <a href="javascript:void()"  data-dismiss="modal" class="btn btn-primary btn-edit">Submit</a> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inn-form" ng-repeat="service in braidServices">
            <input type="checkbox" value="{{service.id}}" ng-click="selectedServices(service.id)" ng-model="serviceArray">
                          {{service.name}}
          </div>
          <div class="inn-form">
            <input type="text" placeholder="Enter Barn Name" id="inputName" class="form-control add">
          </div>
          <div class="inn-form">
            <input type="text" placeholder="Enter Barn Number" id="inputName" class="form-control add">
          </div>
          <div class="inn-form">
            <input type="text" placeholder="Enter Stall Number" id="inputName" class="form-control add">
          </div>
        </div>
        <div class="sign-btn"> <a class="btn btn-primary btn-edit" href="javascript:void()">Edit</a> 
        <a class="btn btn-danger" href="javascript:void()" data-toggle="modal" data-target=".bs-example-modal-lg3">Confirm</a> 
        <a class="btn btn-success" href="javascript:void()" data-toggle="modal" data-target=".bs-example-modal-lg4">Cancel</a> </div>
        
        
        
        
        
        <div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-md">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close.png"></button>
                <div class="modal-content">
                  <div class="container-fluid">
                    <div class="row text-center ">
                    <div class="col-lg-12">
                        <ul class="buttons">
                           <li> <a href="javascript:void()" class="btn btn-primary light-color">Add Another Service</a> </li>
                           <li><a  href="javascript:void()" class="btn btn-primary btn-edit ">Add another date</a> </li>
                           <li><a href="javascript:void()" class="btn btn-primary medium-dark">Add another horse</a></li>
                           <li><a  href="home.html" class="btn btn-danger">Back to home</a></li>
                        </ul>                 
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
        
        
        <div class="modal alert-brdr fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-sm">
               
                <div class="modal-content">
                
                <div class="modal-header">
            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><img src="dist/img/close.png"></button>
            <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i>
Alert!</h4>
          </div>
          
                    <div class="modal-body">

                         <h5 class="">Are you sure? This action cannot be reversed.</h5>              
                    </div>
                    
                    
                    <div class="modal-footer">
                        <div class="popup-btn">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary btn-edit">Yes</button>
      </div>    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>      
        </form>
      </div>
    </div>
  </div>
   </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center"> 
  <label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
  </div>
</section>