<section class="full_reserv choose-braider" ng-init="brader()">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
	  <div class="container">
	     	<div class="back-btn"><a ui-sref="choose-a-braider" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 			    <h2>Choose a Service</h1> 
	 			    	
					</div>
	 		</div>
			<div class="clearfix"></div>
			<form name="selectService"></form>
			<div class="row">
			   <div class="col-md-10 col-lg-offset-1 braider-popup">
			       <ul>
                        <li>
   
                          <label  ng-repeat="service in braidServices">
                          <input type="checkbox" value="{{service.id}}" name="check" ng-click="selectedServices($event, service.id)" ng-model="serviceArray" ng-checked="array.indexOf(service.id) > -1">
                          <p><b>{{service.name}}:</b> {{service.description}} </p>
                          <h1>Price: <b>${{service.price}}</b></h1>
                          </label>
   
                        </li>

                       <p ng-hide="notSelected == true" class="form-error centerText">Please Select at least one Service.</p>
					<button ng-click="redirect()" ng-class="{ 'disabled' : selectService.check.$invalid }" class="continue-btn" ng-disabled="array == ''">CONTINUE</button> 
	
                      </ul>
                                           
			   </div>
			</div>
			
	  </div>
	   </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
	</section>