<section class="full_reserv choose-braider">
	  <div class="container">
	     	
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 			    <h2>Choose a Service</h1> 
					</div>
	 		</div>
			<div class="clearfix"></div>
			<div class="row">
			   <div class="col-md-10 col-lg-offset-1 braider-popup">
			       <ul>
                        <li>
                         
                          <label  ng-repeat="service in braidServices">
                          <input type="checkbox" value="{{service.id}}" ng-click="selectedServices($event, service.id)" ng-model="serviceArray">
                          <p><b>{{service.name}}:</b> {{service.description}} </p>
                          <h1>Price: <b>${{service.price}}</b></h1>
                          </label>
                          
                        </li>
                        <!-- <input type="checkbox" name="selected"
          ng-checked="isSelected(e.id)"
          ng-click="updateSelection($event, 12)"> -->
                      </ul>
                      
					<a href="#/horses" class="continue-btn" ng-disabled="abc == 'false'">CONTINUE</a> 
			   </div>
			</div>
			
	  </div>
	</section>