<section class="wrapper_row">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'braider'">
 	<section class="full_reserv" id="reservation">
	  <div class="container">
	  <div class="back-btn"><a ui-sref="dashboard" class="profile-btn"><i class="fa fa-arrow-circle-left"></i></a></div>
			<div class="row">
	 			<div class="col-md-12 col-xs-12">
	 				<div class="show-shedule">
	 			    <h2><span class="my-show">My Shows</span><span class="show-btns"><a type="button" class="btn btn-primary add-show" href="#/add-show">Add Show</a></span></h2> 
	 				</div>
				</div>
	 		</div>
			<div class="clearfix"></div>
			<div ng-show="showAdded" class="alert bg-success">
				{{showAdded}}
			</div>
			
			<div class="row" ng-init="getShows()">
			    <div class="col-md-12">
			    <span ng-show="havingNoShow">{{havingNoShow}}</span>
			       <ul class="list">
				     <li ng-repeat="show in listShows | limitTo:paginationLimit()">
						 <div class="desc availbale-perform">
						   <div class="col-left show-left-sheduled">
						   		<h4>{{show.showName}}</h4>
						   		<p>{{show.divisions}}</p>
						   		<p>{{show.city}}</p>
						   		<p>{{show.statename}}</p>
						   		<strong>Available Dates:-</strong>
						   		<p ng-repeat="dates in show.dates_available">{{dates | date:'mediumDate'}}</p>
						   </div>
						   <a class="btn btn-primary" href="#/edit-show" ng-click="getSingleShow(show.id)">Details</a>
						 </div>	
 					  </li>
					 </ul>
					 
					 <div class="clearfix"></div>
					 <button class="btn btn-danger reserve-more" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">View More</button>

					 
					 <div class="clearfix"></div>
					 				 
			   
			   </div>
			</div>
	  </div>
</section>
 </div>
  <div class="text-center"> 
<label ng-if="currentUser.User.role=='competitor'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
	<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
	</div>
</section>