<section class="full_reserv choose-braider">
<div ng-show="currentUser.User.access_token && currentUser.User.role == 'competitor'">
<div class="container">
<div class="back-btn"><button ng-click="backHorse(horseSingle.id, $event)" id="{{horseSingle.id}}_selected" class="profile-btn choose-back"><i class="fa fa-arrow-circle-left"></i></button></div>
<div class="row">
<div class="col-md-8 col-lg-offset-2 view-profile inner-view-profile">
<p ng-repeat="serviceArray in braiderServicesArray | limitTo:1">{{serviceArray.braidername}}</p>
 <div class="pro-img"><img ng-src="{{horseSingle.image}}" alt="{{horseSingle.name}}"></div>
   <!-- <h1 class="horse-name">{{horseSingle.name}}</h1> -->
   <h2 ng-init="viewProfileShows()">{{horseSingle.name}}  @ {{showDisplay}}</h2>
   <h3 class="main-date">{{date}} <span>{{stateName}}</span></h3>
   <div ng-init="viewProfile()">
   <div ng-repeat="serviceArray in braiderServicesArray">
   <p><b>{{serviceArray.name}}:</b> {{serviceArray.description}} </p>
   <h1 class="main-price and-started">Price: <b>${{serviceArray.price}}</b></h1>
   </div>
   <h1 class="main-price and-started">Total Price: <b>${{total_price}}</b></h1>
   </div>
   <div class="edit-confirm view-button">
      <a href="#" class="edit-pro" ng-click="setalreadySelected()" data-toggle="modal" data-target=".bs-example-modal-lg3" ng-hide="confirmDisable == false">Confirm</a>
      <a ui-sref="dashboard" class="edit-pro" ng-show="confirmDisable == false">Home</a>
	  
	 
	  
	  <div class="modal fade bs-example-modal-lg3 changed-modal confirmed-pop-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-md">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close.png"></button>
<div class="modal-content inner-modaled">
  <div class="container-fluid">
    <div class="row text-center ">
    <div class="col-lg-12">
       <span ng-show="showGreeting" class="alert bg-success succed">{{msg}}</span>

        <div class="add-terms inner-checkbox">
        	<input type="checkbox"  id="inputEmail" class="form-control password" ng-model="anotherDate" ng-change="anotherNewDate(anotherDate)"><span>Would You like to add another date for same horse?</span>
        </div>
        <div class="add-terms inner-checkbox">
        	<input type="checkbox"  id="inputEmail" class="form-control password" ng-model="anotherHorse" ng-change="anotherNewHorse(anotherHorse)"><span>Would You like to add another horse for same date?</span>
        </div>
		  <accordion close-others="oneAtATime">
			  
			    <accordion-group heading="Add another date" ng-show="anotherDate == true"> 
			    <form name="anotherDate">
		    <div class="col-md-12 kk">
		          
		          <div class="inn-form">
		            <select class="form-control add" name="date" ng-model="alldate" ng-init="alldate=''" ng-change="setNewDate(alldate)" required>
		              <option value="" disabled>Choose Date</option>
		              <option ng-repeat="date in remaining" value="{{date}}" ng-selected="date == dropSelectedDateId">{{date}}</option>
		            </select>
		            <span ng-show="noBraider" class="form-error">{{noBraider}}</span>
		          </div>
		          <a href="" ng-click="createReservation()" ng-disabled="finaldate || anotherDate.date.$pristine || disableSave == true" class="add-services confirm-save btn btn-danger">Save</a> 
		        
		       </div> 
		       </form> 
			    </accordion-group>
<accordion-group heading="Add another horse" ng-show="anotherHorse == true">
	<form name="anotherHorse">    
 <div class="row">
   <div class="col-md-12 kk"  ng-init="horseListing()">
       <ul class="list horse-list" name="horse">
	     <li ng-repeat="horse in horseList">
		  
		   <img ng-show="!horse.image" data-src="holder.js/100%x100%" alt="" src="dist/img/defaulthorse.jpg">
			 <img ng-src="{{horse.image}}" alt=""/>
		   	 
			 <!-- <div class="desc" ng-if="horse.id == horseId">
			   <p>{{horse.name}}</p>
               <a href="#/view-profile" ng-click="singleHorsePopup(horse)" class="selectedHorse">Selected</a>
			  </div>
			  <div class="desc" ng-if="horse.id != horseId">
			   <p>{{horse.name}}</p>
               <a href="#/view-profile" ng-click="singleHorsePopup(horse)">Select</a>
               </div> -->
               <div class="desc">
				   <p>{{horse.name}}</p>
				   <a href="#/view-profile" id="{{horse.id}}_select" class="select" ng-click="singleHorsePopup(horse, $event)">Select</a>
				   <a href="#/view-profile" id="{{horse.id}}_selected" class="selected selectedHorse" ng-click="singleHorsePopup(horse, $event)" ng-if="horse.id == horseId || horse.id == horseId1">Selected</a>
				</div>		 
		  </li>  
	   </ul>
	    <a href="" ng-click="createReservation()" ng-disabled="finaldate || anotherHorse.horse.$pristine || disableHorseSave == true" class="add-services confirm-save btn btn-danger">Save</a>
   </div>
</div> 
</form> 
</accordion-group>
			    
			    <button  class="add-services btn btn-danger" data-dismiss="modal-open" ng-click="changeUrl()">Home</button>
		    </accordion>
         </div>
       </div>
    </div>
  </div>
</div>
</div>
</div> 
</div>
</div> 
</div>
</div>
<div class="text-center"> 
<label ng-if="currentUser.User.role=='braider'" class="alert alert-danger text-center">You are not authorized to view this page.</label>
</div>
<div class="text-center">	
<label ng-if="!currentUser.User.access_token" class="alert alert-danger text-center">You are not authorized. Please login first.</label>
</div>
</section>

