  <!-- footer start here  -->	
	<footer class="footer">
	  <div class="container">


	     <div class="row">
		   <div class="col-md-4"><div class="copyright">&copy; 2015 Braider Booking.. All Rights Reserved</div></div>
		   <div class="col-md-4 hidden-xm hidden-md"></div>
		   <div class="col-md-4">
		   	<div class="social-footer">
		      <ul>
			    <a href="https://www.facebook.com/BraiderBooking" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
				<a href="https://instagram.com/braiderbooking/" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
				<a href="#" data-toggle="modal" data-target="#faqmodal"><li><i class="fa">FAQ</i></li></a>
			 </ul>
			</div>
		   </div>
		 </div>
	  </div>
	</footer>

<div ng-init="faq3()" ng-controller="DashboardController">
		 	<!-- Modal -->
<div class="modal fade" id="faqmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="dist/img/close1.png"></button>
        <h4 class="modal-title" id="myModalLabel">{{faq2.heading}}</h4>
      </div>
      <div class="modal-body"><!--modal-body-start here-->

	 <div id="terms-condition" class="terms-container" ng-bind-html="faq2.content">
       
	</div>
  </div>
 </div>
</div>
</div>
</div>


 	<!-- footer start here  -->	
 </body>
</html>
