<!-- header start here -->
	<div class="navbar navbar-default navbar-fixed-top">
    <div class="container" ng-controller='DashboardController'> 
  		    <div class="navbar-header">
              <button ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="bs-navbar" data-target="#bs-navbar"
             data-toggle="collapse" type="button" class="navbar-toggle collapsed ">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a href="#/dashboard" class="navbar-brand"><img src="dist/img/logo.png" alt="logo"/></a>
         </div>
         <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-navbar" ng-if="!$root.currentUser.User.access_token">
            <ul class="nav navbar-nav navbar-right">
             <li class="active"><a  class="btn btn-log " ui-sref="login">Login</a></li>
             <li><a class="btn " ui-sref="register" >Signup</a></li>
          </ul>

        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-navbar" ng-if="currentUser.User.access_token">
             <ul class="nav navbar-nav navbar-right nav_log"> 
               <li><a href="#/my-profile"><div class="wel_nm">Welcome, <span>{{currentUser.User.name}}</span></div></a></li>
               <li><a ui-sref="dashboard">Dashboard</a></li>
          <li><a ui-sref="logout">Logout</a></li>
            </ul>

          </div>
    </div>	
  </div>
 
     


<!-- header end here -->