	

	<div class="navbar navbar-default navbar-fixed-top" ng-controller="navController">
          <div class="container"> 
        		    <div class="navbar-header">
                    <button data-target="navbar-responsive-collapse" data-toggle="collapse"
      			  class="navbar-toggle" type="button">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="dist/img/logo.png" alt="logo"/></a>
               </div>
               <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav navbar-right">
                   <li class="active"><a class="btn btn-log " ui-sref="login">Login</a></li>
                   <li><a class="btn " ui-sref="register" >Signup</a></li>
                </ul>

              </div>
	       </div>	
    </div>
