       
            
            <div class="row">
               
                <div class="panel panel-default">
                        <div class="panel-heading">
                            Listing To Generate CSV File
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                

                                 <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                 <tr>
                            <?php 
                            $line= $users[0]['User'];
                            $this->CSV->addRow(array_keys($line));  
                                    echo "<th>" . $paginator->sort('User.name', 'Name') . "</th>";
                                    echo "<th>" . $paginator->sort('User.role', 'Type') . "</th>";
                                    echo "<th>" . $paginator->sort('User.email', 'Email') . "</th>";
                            ?>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                     <tr class="odd gradeX">
                                <?php
 
 foreach ($users as $user)
 {
    echo "<tr>";
                                               
                                                echo "<td>{$user['User']['name']}</td>";
                                                echo "<td>{$user['User']['role']}</td>";
                                                echo "<td>{$user['User']['email']}</td>";
                                               
                                             echo "</tr>";
      $line = $user['User'];
       $this->CSV->addRow($line);

 $filename='view_list';
 echo  $this->CSV->render($filename);
 }
                                                    ?>
                                   </tr></tbody>
                                </table>
                     
                            </div>
                            </div>
                            <!-- /.table-responsive -->
                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
         