/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


/*kamal css start here:) with smile*/

#side-menu .fa.arrow {
    transform: rotate(180deg);
}
#side-menu .active .fa.arrow {
    transform: rotate(0deg);
}
.navbar-default {
    background-color: #2c343f;
    border-color: #2c343f;
}
.sidebar ul li {
    border-bottom: 1px solid #232a32;
}
.nav > li > a {
    color: #fff;
    font-size: 13px;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #232a32;
    text-decoration: none;
}
.sidebar ul li a.active {
    background-color: #232a32;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 22px;
    padding: 15px 33px;
}
.navbar-default .navbar-brand:hover{
    color: #fff;
    text-decoration: none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #232a32;
    border-color: #232a32;
}
body {
    background-color: #2c343f;
}
h1 {
    font-size: 21px;
    margin-top: 20px !important;
}
.table a {
    color: #343434;
    padding-right: 15px;
}
.table a:hover {
    color: #2c343f;
    text-decoration: none;
}
.table th {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #d9edf7;
    border-bottom: none !important;
}
.table td{
    font-size: 12px;
    text-align: center;
}
.dropdown-menu{
    border-radius: 0;
    margin: 0;
}
.records-p {
    font-size: 12px;
    margin-bottom: 10px;
}
.table.table-striped.table-bordered.table-hover.dataTable.no-footer {
    margin-bottom: 5px;
    margin-top: 0;
}
.paging span {
    font-size: 12px;
    padding-right: 5px;
}
#page-wrapper {
    background-color: #f5f5f5;
}
.panel-default > .panel-heading {
    background: #ebebeb none repeat scroll 0 0;
    border-bottom: medium none !important;
    color: #343434;
}
.panel {
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f7f7f7;
}
.page-header {
    border-bottom: 1px solid #ddd;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}
.upper-right-opt > a {
    color: #343434;
}
.form-group .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px !important;
    box-shadow: none;
    color: #000 !important;
    float: left;
    font-size: 12px;
    width: 78%;
}
.form-group {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.form-group label {
    color: #343434;
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    width: 22%;
    line-height: 29px;
}
form{
    width: 50%;
}
.error {
    color: #ef5555 !important;
    float: right !important;
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 5px;
    width: 78% !important;
}
.form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
}
.submit {
    padding-left: 22%;
}
.submit .btn.btn-primary {
    border-radius: 0;
    font-size: 13px;
    padding: 7px 33px;
}
.import-btn {
    background-color: #337ab7;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    margin-top: 5px;
    padding: 7px 33px;
}
.import-btn:hover{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
}
#uploadFile {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #000 !important;
    float: left;
    font-size: 13px;
    padding-top: 17px;
}
.fileUpload {
    background: #f7f7f7 none repeat scroll 0 0;
    border: medium none;
    color: #343434;
    float: left;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 7px 30px;
    position: relative;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload.btn.btn-primary:hover{
    background-color: #337ab7;
}
.table th:first-child {
    width: 70px;
   
}
.table th:first-child a{
     padding: 0px;
}
.array-download{
    font-size: 12px;
    margin-bottom: 10px;
}
.form-control.inner-radio {
    height: 25px;
    width: auto !important;
}
.form-group label{
    margin-bottom: 0px;
}
.filter-part {
    padding: 20px 15px 0;
}
.filter-part > p {
    margin-bottom: 0;
}
.filter-part label {
    float: left;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0;
    width: 8%;
}
.filter-part .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none;
    color: #000;
    display: inline-block;
    font-size: 12px;
    height: 34px;
    line-height: 1.42857;
    margin-right: 10px;
    padding: 6px 7px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 23%;
}
#dropdown-list form{
    width: 100%;
}
#dropdown-list .sub-bttn {
    background-color: #337ab7;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    margin-right: 10px;
    padding: 7px 33px;
}
#dropdown-list .sub-bttn:hover{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
    text-decoration: none;
}
#dropdown-list .sub-bttn.reset{
    background-color: #ef5555;
}
#dropdown-list .sub-bttn.reset:hover{
    background-color: #e74f4f;
    text-decoration: none;
}
.panel-heading a{
    color: #343434;
}
.panel-heading a:hover{
    color: #337ab7;
    text-decoration: none;
}
label {
    font-weight: normal;
}
a:focus, a:hover {
    text-decoration: none !important;
}
#cke_TemplateContent {
    margin: 10px 0 20px;
}
.edit-templte .submit{
    padding-left: 0px;
}
#login-screen.panel {
    background:rgba(31,39,50,0.3);
    border: 5px solid #4f555e;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    position: relative;
    margin-top: 45%;
}
#login-screen.panel-default > .panel-heading {
    background: #18202b none repeat scroll 0 0;
    border-bottom: medium none !important;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.m-user {
    left: 36%;
    position: absolute;
    top: -53px;
}
#login-screen p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 0px;
    padding-top: 17%;
    text-align: center;
}
body #login-screen .fielset{
    margin-top: 5px;
}
#login-screen form {
    width: 100%;
}
#flashMessage.message {
    color: #ef5555;
    font-size: 13px;
    padding: 10px 15px 0;
}
#login-screen .form-group .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #4f555e;
    border-radius: 4px !important;
    box-shadow: none;
    color: #fff !important;
    float: left;
    font-size: 12px;
    width: 100% !important;
}
#login-screen .form-group .form-control:focus{
    border: 1px solid #fff;    
}
#login-screen .error {
    color: #ef5555 !important;
    float: right !important;
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 0px;
    width: 100% !important;
}
#login-screen .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
#login-screen fieldset {
    border: 0 none;
    margin: 25px 0 0;
    min-width: 0;
    padding: 0;
    width: 100%;
}
#login-screen .form-group {
    display: inline-block;
    margin-bottom: 10px;
    width: 100% !important;
}
#login-screen .submit {
    display: inline-block;
    margin-top: 10px;
    padding-left: 0;
    width: 100%;
}
#login-screen .btn.btn-lg.btn-success.btn-block {
    background-color: #ef5555;
    border: medium none;
    border-radius: 4px;
    font-size: 15px;
    padding: 8px;
}
#login-screen .btn.btn-lg.btn-success.btn-block:hover{
    background-color: #e74f4f;
}
.forgot-password-btn a {
    color: #fff !important;
    font-size: 14px !important;
}
.forgot-password-btn {
    padding: 10px 0;
    text-align: center;
}