            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Terms and Conditions</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           <?php echo $this->Html->script('ckeditor/ckeditor');?>
                
                 <div class="panel panel-default">
                        <?php echo $this->Session->flash(); ?>
                     <div class="panel-heading">
                          Content
                     </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <?php echo $this->Form->create('Cms_Page'); ?>
                                 
                                  <table  id="dataTables-example"> 
                                     <div class="">
                        <div class="form-group has-successs">
                                 <label class="control-label" for="inputSuccess">Heading</label>
                                 <input type="text" name='data[CmsPage][heading]' class="form-control" placeholder="Heading" value="<?php echo $cms['CmsPage']['heading'] ?>">
                        </div>
                        
					<textarea id="TemplateContent" class="ckeditor" name="data[CmsPage][content]" style="width: 1080px; height: 310px;"><?php echo $cms['CmsPage']['content']?></textarea>
                                     </div>
                                       
                                 </table>  
                             <?php   echo $this->Form->submit('Save',array('class' => 'btn btn-primary'));  ?>

                            </div>
                    </div>
                 </div>
                          
      <style type="text/css">
       .cke_inner {
    background: none repeat scroll 0 0 #fff;
    display: block;
    padding: 0;
    width: 930px;
}
      </style>   
       
